﻿@model WorkItWebsite.Models.TaskAdminModel
@{
	Layout = "~/Views/Shared/_ModalDialogLayout.cshtml";
}
<link rel="stylesheet" href="~/ThirdParty/datetimepicker/datepicker.css" />
<form class="form-horizontal" role="form" id="formAddUser">
	<div class="form-group">
		<label for="txtName" class="col-sm-3 control-label">Name</label>
		<div class="col-sm-5">
			@Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "txtName", placeholder = "Task name" })
			@Html.ValidationMessageFor(m => m.Name)
		</div>
	</div>
	<div class="form-group">
		<label for="txtDescription" class="col-sm-3 control-label">Description</label>
		<div class="col-sm-5">
			@Html.TextAreaFor(m => m.Description, new { @class = "form-control", id = "txtDescription" })
			@Html.ValidationMessageFor(m => m.Description)
		</div>
	</div>
	<div class="form-group">
		<label for="ddlCategory" class="col-sm-3 control-label">Price</label>
		<div class="col-sm-5">
			@Html.DropDownListFor(m => m.CategoryId, Model.CategoryOptions, new { @class = "form-control", id = "ddlCategory" })
		</div>
	</div>
	<div class="form-group">
		<label for="txtPrice" class="col-sm-3 control-label">Price</label>
		<div class="col-sm-5">
			@Html.TextBoxFor(m => m.Price, new { @class = "form-control", id = "txtPrice", placeholder="Price" })
			@Html.ValidationMessageFor(m => m.Price)
		</div>
	</div>
	<div class="form-group">
		<label for="txtDate" class="col-sm-3 control-label">Deadline date</label>
		<div class="col-sm-5">
			@Html.TextBoxFor(m => m.DeadlineDate, new { @class="form-control", id="txtDate" })
			@Html.ValidationMessageFor(m => m.DeadlineDate)
		</div>
	</div>
	<div class="form-group">
		<label for="txtTime" class="col-sm-3 control-label">Deadline time</label>
		<div class="col-sm-5">
			@Html.TextBoxFor(m => m.DeadlineTime, new { @class="form-control", id="txtTime" })
			@Html.ValidationMessageFor(m => m.DeadlineTime)
		</div>
	</div>
</form>
@section scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript" src="~/ThirdParty/datetimepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="~/ThirdParty/datetimepicker/maskedinput.js"></script>
<script type="text/javascript">
  $(function() {
  	$('#txtDate').datepicker({});
  	$('#txtTime').mask("99:99");
  });
</script>