﻿@model WorkItWebsite.Models.UserAdminModel
@{
	Layout = "~/Views/Shared/_ModalDialogLayout.cshtml";
}

<form class="form-horizontal" role="form" id="formAddUser">
	<div class="form-group">
		<label for="txtFirstname" class="col-sm-3 control-label">First name</label>
		<div class="col-sm-5">
			@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", id = "txtFirstName", placeholder = "First name" })
			@Html.ValidationMessageFor(m => m.FirstName)
		</div>
	</div>
	<div class="form-group">
		<label for="txtLastName" class="col-sm-3 control-label">Last name</label>
		<div class="col-sm-5">
			@Html.TextBoxFor(m => m.LastName, new { @class = "form-control", id = "txtLastName", placeholder = "Last name" })
			@Html.ValidationMessageFor(m => m.LastName)
		</div>
	</div>
	<div class="form-group">
		<label for="txtEmail" class="col-sm-3 control-label">Email</label>
		<div class="col-sm-5">
			@Html.TextBoxFor(m => m.Email, new { type = "email", @class = "form-control", id = "txtEmail", placeholder = "Email" })
			@Html.ValidationMessageFor(m => m.Email)
		</div>
	</div>
	<div class="form-group">
		<label for="txtPassword" class="col-sm-3 control-label">Password</label>
		<div class="col-sm-5">
			@Html.PasswordFor(m => m.Password, new { @class="form-control", id="txtPassword", placeholder="Password"})
			@Html.ValidationMessageFor(m => m.Password)
		</div>
	</div>
	<div class="form-group">
		<label for="ddlStatus" class="col-sm-3 control-label">User status</label>
		<div class="col-sm-5">
			@Html.DropDownListFor(m => m.Status, Model.StatusOptions, new { @class="form-control", id = "ddlStatus" })
		</div>
	</div>
	<div class="form-group">
		<label for="ddlType" class="col-sm-3 control-label">User type</label>
		<div class="col-sm-5">
			@Html.DropDownListFor(m => m.Type, Model.TypeOptions, new { @class="form-control", id = "ddlType" })
		</div>
	</div>
</form>
@section scripts {
	@Scripts.Render("~/bundles/jqueryval")
}