﻿@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewBag.TabName = "TasksAdmin";
}

<div class="user-grid-wrapper">
	<div class="table-nav">
		<button type="button" id="btnAdd" class="btn btn-primary btn-xs">Add Task</button>
		<button type="button" data-bind="click: assignTask" id="btnAssign" class="btn btn-default btn-xs" disabled="disabled">Assign to...</button>
		<button type="button" data-bind="click: deleteTask" id="btnDelete" class="btn btn-danger btn-xs" disabled="disabled" >Delete Task</button>
	</div>
	<table id="user-grid" class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Category</th>
				<th>Status</th>
				<th>Created Date</th>
				<th>Deadline Date</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: tasks">
			<tr data-bind="click: $root.selectTask,
	css: { warning: TaskId == ($root.selectedTask() ? $root.selectedTask().TaskId : '') }">
				<td data-bind="text: TaskId"></td>
				<td data-bind="text: Name"></td>
				<td data-bind="text: Category"></td>
				<td data-bind="text: Status"></td>
				<td data-bind="text: CreatedDate"></td>
				<td data-bind="text: DeadlineDate"></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="user-info">
	@*<div class="photo-wrapper">
		<img data-bind="attr: { src: selectedUser() ? selectedUser().ImgUrl : '' }" id="profilePhoto" alt="profile photo" />
	</div>
	<div data-bind="text: selectedUser() ? selectedUser().UserName : ''"></div>
	<div data-bind="text: selectedUser() ? selectedUser().Email : ''"></div>
	<div data-bind="text: selectedUser() ? selectedUser().Age : ''"></div>
	<div data-bind="text: selectedUser() ? selectedUser().BirthDate : ''"></div>*@
</div>

<div class="user-statistics"></div>

<script>
	$(function () { ua.taskAdminLoad(); });
</script>
