﻿@{
	ViewBag.Title = "Users";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewBag.TabName = "UsersAdmin";
}

<div class="row">
	<div class="col-md-8">
		@(Html.Kendo().Grid<UserAdminModel>()
			.Name("UserGrid")
			.Columns(c => {
				c.Bound(u => u.UserId);
				c.Bound(u => u.UserName);
				c.Bound(u => u.Type);
				c.Bound(u => u.Email);
				c.Bound(u => u.LastLogin);
				c.Bound(u => u.Status);
			})
			.EnableCustomBinding(true)
			.DataSource(ds => ds
				.Ajax()
				.Read(r => r.Type(HttpVerbs.Get).Action("GetUsers", "Admin"))
				.PageSize(5)
			)
			.Selectable()
			.Pageable(pageable => pageable
				.Refresh(true)
				.PageSizes(new int[] { 5, 10, 20, 50 })
				.ButtonCount(5)
			)
			.Sortable(sortable => sortable
				.Enabled(true)
				.AllowUnsort(false)
			)
		)
	</div>
</div>