﻿@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/ThirdParty/bootstrap/rw/css", "~/ThirdParty/kendoui/rw/css", "~/Content/rw/css")
	@Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/bundles/knockout","~/bundles/kendo")
	<link href="~/Content/css/admin.css" rel="stylesheet" />
</head>
<body id="admin-content">
	<div id="admin-header">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="@Html.Action("Index", "Home")">Rocket Wizard</a>
			</div>
			<ul class="nav nav-pills nav-justified">
				<li id="liUsersAdmin">@Html.ActionLink("Users", "Users", "Admin")</li>
				<li id="liTasksAdmin">@Html.ActionLink("Tasks", "Tasks", "Admin")</li>
			</ul>
		</nav>
	</div>
	<div id="content-wrapper">
		@RenderBody()
	</div>
</body>
@RenderSection("scripts", required: false)

<script src="~/Content/js/common.js"></script>
<script src="~/Content/js/admin.js"></script>
<script>
	$(function () {
		var activeTab = "@ViewBag.TabName";
		$("#admin-header li").removeClass("active");
		$("#li" + activeTab).addClass("active");
	});
</script>
</html>
