﻿<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - RocketWizard</title>
	@RenderSection("meta", required: false)

	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	@Styles.Render("~/ThirdParty/bootstrap/rw/css", "~/Content/rw/css")
	@Scripts.Render("~/bundles/jquery", "~/bundles/knockout", "~/bundles/bootstrap", "~/bundles/rw", "~/bundles/login")
	<script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>
	<script type="text/javascript">
		VK.init({ apiId: 4037934, onlyWidgets: true });

		var StringResources = {
			PriceSetByExecutor: '@StringResources.PriceSetByExecutor',
			Warning: '@StringResources.Warning',
			CannotSelectExecutorEmailNotActivated: '@StringResources.CannotSelectExecutorEmailNotActivated',
			NotEnoughMoney: '@StringResources.NotEnoughMoney',
			UserSelection: '@StringResources.UserSelection',
			AreYouSureToSelectThisUser: '@StringResources.AreYouSureToSelectThisUser',
			TaskDeletion: '@StringResources.TaskDeletion',
			AreYouSureDeleteTask: '@StringResources.AreYouSureDeleteTask',
			ProfileDeletion: '@StringResources.ProfileDeletion',
			AreYouSureDeleteProfile: '@StringResources.AreYouSureDeleteProfile',
			Yes: '@StringResources.Yes',
			No: '@StringResources.No',
			Close: '@StringResources.Close'
		};
	</script>
</head>
<body>
	<div class="content-wrapper">
		<!--main menu-->
		<nav class="header-nav navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="@Url.Action("index", "home")">
					<span class="site-logo"></span>
				</a>
			</div>
			<!--navbar collapse-->
			<div class="collapse navbar-collapse" id="main-menu-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li>@Html.ActionLink(StringResources.WhatIsThis, "howto", "home")</li>
					<li>@Html.ActionLink(StringResources.ForExecutors, "executors", "home")</li>
					<li>@Html.ActionLink(StringResources.AllTasks, "all", "task", null, new { rel = "canonical" })</li>
				</ul>
				@Html.Action("GetPartialLogin", "Account")
			</div>
			<!--/navbar collapse -->
		</nav>
		<!--/main menu-->
		<div class="body-wrapper clearfix">
			@RenderBody()
		</div>
	</div>
	
	<div class="footer">
		<div class="container footer-content">
			<div class="row">
				<div class="col-md-8 text-muted footer-about">
					<ul class="footer-nav">
						<li>@Html.ActionLink(StringResources.Contacts, "contact", "home")</li>
						<li>@Html.ActionLink(StringResources.AboutUs, "about", "home")</li>
						<li>@Html.ActionLink(StringResources.ForExecutors, "executors", "home")</li>
						<li>@Html.ActionLink(StringResources.AllTasks, "all", "task", null, new { rel = "canonical" })</li>
					</ul>
					<ul class="footer-nav font-small">
						<li>@Html.ActionLink(StringResources.CourierTask, "task", "all", new { id = "courier" }, null)</li>
						<li>@Html.ActionLink(StringResources.DeliveryTask, "task", "all", new { id = "deliver" }, null)</li>
						<li>@Html.ActionLink(StringResources.ComputerTask, "task", "all", new { id = "computer" }, null)</li>
						<li>@Html.ActionLink(StringResources.FlyersTask, "task", "all", new { id = "flyers" }, null)</li>
						<li>@Html.ActionLink(StringResources.HelperTask, "task", "all", new { id = "helper" }, null)</li>
						<li>@Html.ActionLink(StringResources.RepairTask, "task", "all", new { id = "repair" }, null)</li>
						<li>@Html.ActionLink(StringResources.PhotoVideoTask, "task", "all", new { id = "photovideo" }, null)</li>
					</ul>
					<p>
						@StringResources.RocketWizardDescription
					</p>
					<p>
						@StringResources.RocketWizardDetailsDescription
					</p>
				</div>
				<div class="col-md-4 footer-social text-muted font-small">
					<p>@StringResources.TellToFriends</p>
					<div class="share-social" style="display: inline-block;">
						<div class="vk-social-btn" style="display: inline-block;">
							<div id="vk_like1"></div>
							<script type="text/javascript">VK.Widgets.Like("vk_like1", { type: "mini", height: 20 });</script>
						</div>
						<div class="gplus-social-btn" style="display: inline-block;">
							<div class="g-plusone" data-href="https://rocketwizard.com.ua" data-size="medium"></div>
						</div>
						<div class="facebook-social-btn" style="display: inline-block;">
							<div class="fb-like" data-href="https://rocketwizard.com.ua" data-width="150" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
						</div>
					</div>
					<p>@StringResources.WeAreSocial</p>
					<ul class="footer-nav font-small">
						<li><a href="http://vk.com/rocketwizard" rel="publisher" target="_blank">Вконтакте</a></li>
						<li><a href="https://www.facebook.com/rocketwizard" rel="publisher" target="_blank">Facebook</a></li>
						<li><a href="https://plus.google.com/+rocketwizardua" rel="publisher" target="_blank">Google+</a></li>
					</ul>
				</div>
			</div>
			<div style="max-width: 300px; margin: 0 auto;">
				<div class="copy text-muted">
					<p>Copyright &copy @DateTime.Now.Year <b>RocketWizard</b>, @StringResources.AllRightsReserved</p>
				</div>
			</div>
		</div>
	</div>

	<!--Modals-->
	@Html.Partial("_LoginModal", new WorkItWebsite.Models.LoginModel())
	@Html.Partial("_ModalConfirm")
	@Html.Partial("_ModalAlert")
	<!--End Modals-->

	@RenderSection("scripts", required: false)
	<script>
		$(function () { login.init(); });
	</script>
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-47570356-1', 'rocketwizard.com.ua');
		ga('send', 'pageview');

		(function () {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/platform.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();

	</script>
</body>
<div id="fb-root"></div>
<script>(function (d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/uk_UA/all.js#xfbml=1&appId=1412956505613713";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</html>
