﻿@model WorkItWebsite.Models.LoginModel

<div class="modal fade" id="modalDialogLogin" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
	<div class="modal-dialog login-modal">
		<div class="modal-content">
			<div class="modal-header navbar-inverse">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="modalTitle">@StringResources.Login</h4>
			</div>
			<div class="modal-body row">
				@if(!string.IsNullOrEmpty(ViewBag.LoginMessage)) {
					<div class="alert alert-warning text-center">@ViewBag.LoginMessage</div>
				}
				<div class="wrap col-md-10">
					@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "frmLogin", @class = "form-horizontal" })) {
						@Html.AntiForgeryToken()
						<div class="form-wrapper">
							<div class="form-group">
								@Html.Label(StringResources.Email, new { @class = "control-label col-md-4" })
								<div id="divTxtEmail" class="col-md-7">
									@Html.TextBoxFor(m => m.LoginEmail, new { id = "txtLoginEmail", @class = "form-control", placeholder = "youremail@com.com" })
									@Html.ValidationMessageFor(m => m.LoginEmail)
								</div>
							</div>
							<div class="form-group">
								@Html.Label(StringResources.Password, new { @class = "control-label col-md-4" })
								<div class="col-md-7">
									@Html.PasswordFor(m => m.Password, new { id = "txtPassword", @class = "form-control", placeholder = "Пароль" })
									@Html.ValidationMessageFor(m => m.Password)
									<div id="validation-message" class="text-danger font-small"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-4 col-sm-7">
									<div class="checkbox">
										<label>
											@Html.CheckBoxFor(m => m.RememberMe, new { id = "chkRemember" }) @StringResources.RememberMe
											<br />
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-4 col-sm-7">
									<button id="submitData" type="button" class="btn btn-success btn-block">@StringResources.LoginBtn</button>
								</div>
							</div>
							<div class="form-group group-social">
							</div>
						</div>
					}
				</div>
				<div class="social-wrapper">
					@Html.Partial("_SocialLoginPartial")
				</div>
			</div>
			<div class="modal-footer">
				<div class="text-left col-md-7">
					<span class="font-small">@StringResources.NoAccountQuestion @Html.ActionLink(StringResources.RegisterLoginText, "register", "account", new { returnurl = ViewBag.ReturnUrl }, null)</span>
				</div>
				<div class="text-right col-md-5 font-small">
					@Html.ActionLink(StringResources.ForgotPasswordQuestion, "recoverpassword", "account")
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</div>

@Scripts.Render("~/bundles/login")
