﻿@model WorkItWebsite.Models.PartialLoginModel
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
	<ul class="nav navbar-nav navbar-right navbar-login" id="login-navigation">
	@if(!Request.IsAuthenticated) {
		<li><a href="#" id="btnLogin">@StringResources.Login</a></li>
		<li>@Html.ActionLink(StringResources.RegisterBtn, "register", "account", null, new { id="nav-register" })</li>
	} else {
		<li style="color: #fff;">@StringResources.Hello, <a href="@Model.UserLink" id="nav-user" style="display: inline-block; padding-left: 0px;">@Model.DisplayName</a></li>
		<li> @Html.AntiForgeryToken()
			<a id="nav-logout" href="javascript:document.getElementById('logoutForm').submit()">@StringResources.Logout</a>
		</li>
	}
	</ul>
}
