﻿@{ Layout = null; }

<div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header navbar-inverse">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalTitle">@ViewBag.Title</h4>
      </div>
      <div class="modal-body">
        @RenderBody()
      </div>
      <div class="modal-footer">
		<button type="button" id="submitData" class="btn btn-success">@ViewBag.OkBtn</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">@ViewBag.CloseBtn</button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@RenderSection("scripts", required: false)