﻿<div class="modal fade" id="modalDialogConfirm" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog" style="width: 400px;">
    <div class="modal-content">
      <div class="modal-header navbar-inverse">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalTitle"></h4>
      </div>
      <div class="modal-body">
        <div class="confirm-content">
		</div>
      </div>
      <div class="modal-footer">
		<button type="button" id="btnClose" class="btn btn-success"></button>
        <button type="button" id="btnCancel" class="btn btn-default" data-dismiss="modal"></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->