﻿<div class="social-login">
	@using (Html.BeginForm("ExternalLogin", "Account", new { returnurl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "frmSocial" })) {
		@Html.AntiForgeryToken()
		<div>
			<button type="submit" name="provider" class="btn-social" value="vkontakte" id="btnVk">
				<img src="~/Content/img/vkontakte.png" class="img-responsive" /></button>
		</div>
		<div>
			<button type="submit" name="provider" class="btn-social" value="GooglePlus" id="btnPlus">
				<img src="~/Content/img/google_plus.png" class="img-responsive" /></button>
		</div>
		<div>
			<button type="submit" name="provider" class="btn-social" value="Facebook" id="btnFacebook">
				<img src="~/Content/img/facebook.png" class="img-responsive" /></button>
		</div>
 }
</div>