﻿<div class="container task-filter">
	<div class="col-md-1">
		<label>@StringResources.Task:</label>
	</div>
	<div class="col-md-3">
		<select class="form-control ddlTaskStatus">
			<option value="0">@StringResources.All</option>
			<option value="1">@StringResources.OpenTasksFilter</option>
			<option value="2">@StringResources.InProgressTasksFilter</option>
			<option value="3">@StringResources.ClosedTasksFilter</option>
		</select>
	</div>
	<div class="col-md-1">
		<label>@StringResources.Date:</label>
	</div>
	<div class="col-md-5">
		<div class="date-filter">
			<div class="date-filter-start row">
				<div class="col-md-1">
					<span>@StringResources.From </span>
				</div>
				<div class="col-md-5">
					<input type="text" class="form-control txtDateStart" />
				</div>
			</div>
			<div class="date-filter-end row">
				<div class="col-md-1">
					<span>@StringResources.To </span>
				</div>
				<div class="col-md-5">
					<input type="text" class="form-control txtDateEnd" />
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1">
		<button type="button" class="btn btn-default btn-sm btnFilter">@StringResources.FilterBtn</button>
	</div>
</div>
<script>
	$(function () {
		$('.txtDateStart, .txtDateEnd').datepicker({
			format: 'dd/mm/yyyy',
			language: 'uk'
		});
	});
</script>
