﻿<div>
	<div style = "font-family:Arial;font-size:10pt;">
		<div style="padding-left:15px;">
			Доброго дня,
			<br /><br />
			Дану електронну адресу було вказано при відновленні облікового запису на сайті <a href="https://rocketwizard.com.ua" style="color:#18bc9c">RocketWizard</a>.
			<br />
			<a style = "color:#18bc9c" href="##REDIRECT_URI##">Натисніть тут</a> для завершення процедури.
			<br /><br />
			Якщо процедуру відновлення ініційовано не вами - проігноруйте це повідомлення,<br />
			або переконайтеся що ваша електронна адреса не потрапила в руки зловмисників.
			<br /><br />
		</div>
		<div style = "border-top:2px solid #18bc9c">&nbsp;</div>
		<div style="padding-left:5px; float: left;">
			<i>
				З повагою,<br />
				керівник проекту RocketWizard<br />
				Собчук Павло
			</i>
		</div>
		<div style="padding-left: 5px; padding-top: 5px; color:#666; float: right;">
			<div style="padding-bottom: 5px;">Контакти: support@rocketwizard.com.ua</div>
			<div style="padding-bottom: 5px;">+380502942525 - Собчук Павло Олександрович</div>
			<div style="padding-bottom: 5px;">+380660226009 - Скаб Василь Мар'янович</div>
		</div>
	</div>
</div>
