﻿<div>
	<div style = "font-family:Arial;font-size:10pt;">
		<div style="padding-left:15px;">
			Доброго дня, <b>##USERNAME##</b>,
			<br /><br />
			Повідомляємо, що замовник підтвердив успішне виконання завдання! <br />
			Гроші за виконану роботу були перераховані на ваш особовий рахунок на сайті. <br /><br />
			<a style = "color:#18bc9c" href="##REDIRECT_URI##">Натисніть тут</a> для входу на сайт RocketWizard.
			<br /><br />
		</div>
		<div style = "border-top:2px solid #18bc9c">&nbsp;</div>
		<div style="padding-left:5px; float: left;">
			<i>
				З повагою,<br />
				керівник проекту RocketWizard<br />
				Собчук Павло
			</i>
		</div>
		<div style="padding-left: 5px; padding-top: 5px; color:#666; float: right;">
			<div style="padding-bottom: 5px;">Контакти: support@rocketwizard.com.ua</div>
			<div style="padding-bottom: 5px;">+380502942525 - Собчук Павло Олександрович</div>
			<div style="padding-bottom: 5px;">+380660226009 - Скаб Василь Мар'янович</div>
		</div>
	</div>
</div>