﻿@{
    ViewBag.Title = StringResources.EmailConfirmation;
}
<div class="container">
	<div class="well">
	<h2>@StringResources.EmailBoxConfirmation</h2>
		@if(ViewBag.InitialMessage) {
			<p>@StringResources.RegistrationCompleteGreeting</p>
			<p>
				@StringResources.EmailConfirmationDescription
			</p>
			<p>
				@StringResources.EmailConfirmationNotSent <a href="#" id="resendMail">@StringResources.Resend</a>
				<span class="sent-status font-small text-muted">@StringResources.ResendComplete</span>
			</p>
			<p>
			@Html.ActionLink(StringResources.BackToMainPage, "index", "home")
			</p>
		} else if(ViewBag.ActivatedMessage) {
			<p>@StringResources.EmailVerificationComplete</p>
			<p>@StringResources.PersonalInfoOnProfilePage(Url.Action("profile", "user", new { id = ViewBag.UserId }))</p>
			<p>@Html.ActionLink(StringResources.BackToMainPage, "index", "home")</p>
		} else if(ViewBag.AlreadyActivated) {
			<p>@StringResources.CurrentAccountWasAlreadyActivated</p>
			<p><@Html.ActionLink(StringResources.BackToMainPage, "index", "home")</p>
		}
	</div>
</div>
@section scripts {
<script>
	$(function () {
		$(".sent-status").hide();
		$("#resendMail").click(function (e) {
			$(".sent-status").hide();
			e.preventDefault();
			$.ajax({
				url: "/account/resendconfimationemail",
				type: "POST",
				complete: function () {
					$(".sent-status").show();
				}
			});
		});
	});
</script>
}