﻿@{
    ViewBag.Title = StringResources.RegisterError;
}

<div class="container">
	<div class="well">
		<h2>@StringResources.UnableToCompleteAuthorization</h2>
		<p>@StringResources.AuthorizationErrorDescription</p>
		<p>
			@StringResources.AuthorizationErrorExcuse("/account/register")
		</p>
	</div>
</div>