﻿@model WorkItWebsite.Models.ResetPasswordModel
@{
	ViewBag.Title = StringResources.RecoverPassword;
}

<div class="container pass-recover">
	<div class="body-well well">
		<h2>@StringResources.RecoverPassword;</h2>
		@if(ViewBag.ShowExpired) {
			<p>@StringResources.RecoverPasswordDescription</p>
		} else if(ViewBag.ShowChangePassword) {
			<p>@StringResources.FillRecoverPasswordForm</p>
			<form id="frmResetPass" action="/account/recoverpassword" method="post" class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-md-2">@StringResources.NewPassword</label>
					<div class="col-md-3">
						@Html.PasswordFor(m => m.NewPassword, new { @class="form-control" })
						@Html.ValidationMessageFor(m => m.NewPassword)
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">@StringResources.ConfirmNewPassword</label>
					<div class="col-md-3">
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class="form-control" })
						@Html.ValidationMessageFor(m => m.ConfirmPassword)
					</div>
				</div>
				<button type="submit" style="margin-top: -4px;" class="btn btn-success btn-sm">@StringResources.ChangePassword</button>
			</form>
		} else {
			<div id="email-form">
				<span>@StringResources.SetEmailAddress</span>
				<div style="display: inline-block; width: 250px;">
					<input id="txtEmail" type="text" class="form-control" placeholder="example@com.com" />
				</div>
				<div style="display: inline-block">
					<button id="sendMail" type="button" style="margin-top: -4px;" class="btn btn-success btn-sm">@StringResources.SendEmail</button>
				</div>
				<div id="email-valmsg" class="text-danger font-small"></div>
				<p>@StringResources.ChangePasswordEmailSend</p>
			</div>
		}
	</div>
</div>

@section scripts {
@Scripts.Render("~/bundles/jqueryval");
<script type="text/javascript" src="~/Content/js/register/recovery.js"></script>
}
