﻿@model WorkItWebsite.Models.RecoverAccountModel
@{
	ViewBag.Title = StringResources.RecoveringAccount;
}

<div class="container">
<h2>@StringResources.RecoveringAccount</h2>
<div class="well">
@if(ViewBag.IncorrectGuid) {
	<div>
		@StringResources.InvalidLink
	</div>
} else {
	<text>
	<div id="email-form">
		<p>@StringResources.CurrentUserAccountWasAlreadyDeleted</p>
		<span>@StringResources.SetEmailAddress</span>
		<div style="display: inline-block; width: 250px;">
			<input id="txtEmail" type="text" class="form-control" placeholder="example@com.com" />
		</div>
		<div style="display: inline-block">
			<button id="sendAccountEmail" type="button" style="margin-top: -4px;" class="btn btn-success btn-sm">@StringResources.SendEmail</button>
		</div>
		<div id="email-valmsg" class="text-danger font-small"></div>
		<p>@StringResources.RecoverAccountMessageSend</p>
	</div>
	</text>
}
</div>
</div>
@section scripts {
@Scripts.Render("~/bundles/jqueryval");
<script type="text/javascript" src="~/Content/js/register/recovery.js"></script>
}