﻿@model WorkItWebsite.Models.RegisterModel
@{
	ViewBag.Title = StringResources.Register;
}
@section meta {
	<meta name="keywords" content="реєстрація, регистрация, реєстрація rocketwizard" />
	<meta name="description" content="Реєстрація користувачів на сайті rocketwizard" />
}
<div class="regform-steps">
</div>
@Html.Partial("_SocialLoginPartial")
<div class="register container">
	<div class="regform col-md-12">
		<div class="well">
			<form action="~/Account/Register" method="post" enctype="multipart/form-data" id="frmRegister" class="form-horizontal">
				@Html.AntiForgeryToken()
				<fieldset>
					<legend>@StringResources.RegistrationForm 
						<div class="text-muted font-small">@StringResources.MandatoryFieldsMarkedStar</div>
					</legend>
					<div class="col-md-5">
						<div class="form-group">
							@Html.Label(StringResources.Email, new { @class = "control-label col-md-4" })
							<div id="divTxtEmail" class="col-md-7 required-field">
								<span class="input-addon text-danger">*</span>@Html.TextBoxFor(m => m.Email, new { id = "txtEmail", @class = "form-control", autocomplete = "off" })
								@Html.ValidationMessageFor(m => m.Email)
							</div>
						</div>
						<div class="form-group">
							@Html.Label(StringResources.Password, new { @class = "control-label col-md-4" })
							<div class="col-md-7 required-field">
								<span class="input-addon text-danger">*</span>@Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
								@Html.ValidationMessageFor(m => m.Password)
							</div>
						</div>
						<div class="form-group">
							@Html.Label(StringResources.ConfirmPassword, new { @class = "control-label col-md-4" })
							<div class="col-md-7 required-field">
								<span class="input-addon text-danger">*</span>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.ConfirmPassword)
							</div>
						</div>
						<div class="form-group">
							@Html.Label(StringResources.FirstName, new { @class = "control-label col-md-4" })
							<div class="col-md-7 required-field">
								<span class="input-addon text-danger">*</span>@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Name)
							</div>
						</div>
						<div class="form-group">
							@Html.Label(StringResources.LastName, new { @class = "control-label col-md-4" })
							<div class="col-md-7 required-field">
								<span class="input-addon text-danger">*</span>@Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Surname)
							</div>
						</div>
						<div class="form-group">
							@Html.Label(StringResources.Gender, new { @class = "control-label col-md-4" })
							<div class="col-md-7 gender-group text-primary">
								<div class="radio">
									<label class="radio-inline">
										@Html.RadioButtonFor(m => m.Gender, 1, new { @class = "fradio", @checked="true" }) @StringResources.Female
									</label>
									<label class="radio-inline">
										@Html.RadioButtonFor(m => m.Gender, 2, new { @class = "mradio" }) @StringResources.Male
									</label>
								</div>
								@Html.ValidationMessageFor(m => m.Gender)
							</div>
						</div>
						<div class="form-group">
							@Html.Label(StringResources.BirthDate, new { @class = "control-label col-md-4" })
							<div class="col-md-7  birthdate-group">
								<div class="col-md-3">@Html.DropDownListFor(m => m.BirthDate.BirthDay, Model.BirthDate.Days, new { @class = "form-control ddl-day" })</div>
								<div class="col-md-4">@Html.DropDownListFor(m => m.BirthDate.BirthMonth, Model.BirthDate.Months, new { @class = "form-control ddl-month" })</div>
								<div class="col-md-4">@Html.DropDownListFor(m => m.BirthDate.BirthYear, Model.BirthDate.Years, new { @class = "form-control ddl-year" })</div>
							</div>
						</div>
						<div class="form-group">
							@Html.Label(StringResources.PhoneNumber, new { @class = "control-label col-md-4" })
							<div class="col-md-7">
								@Html.TextBoxFor(m => m.Phone, new { @class = "form-control", id = "txtPhone", placeholder = "(050) 111 11 11" })
							</div>
						</div>
						<div class="form-group">
							<div>
								<div class="checkbox">
									<label class="font-small">
										@Html.CheckBoxFor(m => m.TermsAccepted, new { id = "chkAcceptTerms" })
										@StringResources.IAcceptTermsAndPolicy("/home/terms", "/home/privacypolicy")
									</label>
									@Html.ValidationMessageFor(m => m.TermsAccepted)
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							@Html.EditorFor(m => m.ImageUploadData)
						</div>
					</div>
					<button type="submit" id="btnRegister" class="btn btn-success btn-block">@StringResources.RegisterBtn</button>
				</fieldset>
				@Html.HiddenFor(m => m.ReturnUrl)
			</form>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval", "~/bundles/imageupload", "~/bundles/register")
	<script>
		$(function () { reg.init(); });
	</script>
}

