﻿@model System.Web.Mvc.HandleErrorInfo
@{
	ViewBag.Title = "500 - помилка серверу";
}

<div class="container well">
	<p>Сталася помилка при використанні нашого сервісу. Просимо вибачення за незручності.</p>
	<p>Спробуйте повернутися на попередню сторінку і спробувати знову.</p>
	<p>В разі повторного виникнення даного повідомлення зателефонуйте нам і ми вирішимо проблему разом.</p>
</div>
