﻿@{
	ViewBag.Title = StringResources.ViewAllTasks;
}
@section meta {
	<meta name="description" content="Завдання в категоріях: кур'єр, роздача листівок, роздача флаєрів, ремонт, дрібний ремонт, купити і доставити, комп'ютерна допомога, фото послуги, відео послуги" />
	<meta name="keywords" content="усі завдання, перегляд завдань, завдання rocketwizard" />
}
<link rel="stylesheet" href="~/ThirdParty/datetimepicker/datepicker.css" />
@Html.Partial("_TaskFilter")
<div class="container clear">
	<div class="col-md-3 categories">
		@Html.ActionLink(StringResources.CreateTask, "createtask", "task", null, new { @class="btn btn-warning btn-block" })<br />
		<ul class="nav nav-pills nav-stacked">
			<li data-id="courier"><a href="#" class="category-item">@StringResources.CourierTask</a></li>
			<li data-id="deliver"><a href="#" class="category-item">@StringResources.DeliveryTask</a></li>
			<li data-id="computer"><a href="#" class="category-item">@StringResources.ComputerTask</a></li>
			<li data-id="flyers"><a href="#" class="category-item">@StringResources.FlyersTask</a></li>
			<li data-id="helper"><a href="#" class="category-item">@StringResources.HelperTask</a></li>
			<li data-id="photovideo"><a href="#" class="category-item">@StringResources.PhotoVideoTask</a></li>
			<li data-id="repair"><a href="#" class="category-item">@StringResources.RepairTask</a></li>
		</ul>
	</div>
	<div class="col-md-8 tasks">
		<div class="utasks-wrapper" data-bind="foreach: tasks">
			<div class="task-wrapper well">
				<div class="task-title row">
					<div class="col-sm-10">
						<label class="title"><a data-bind="text: Name, attr: { href: TaskUrl }"></a></label>
					</div>
					<div class="col-sm-2">
						<span class="label" data-bind="css: $root.taskStatus($data), text: StatusText "></span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<label>
							<span class="task-price" data-bind="text: Price"></span>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 font-small">
						@StringResources.Created <span class="task-date" data-bind="text: Created"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="spinner-wrapper"></div>
	</div>
</div>

@section scripts {
	@Scripts.Render("~/bundles/knockout", "~/bundles/task")
	<script type="text/javascript" src="~/ThirdParty/datetimepicker/datepicker.js"></script>
	<script type="text/javascript" src="~/ThirdParty/jscroll/jscroll.min.js"></script>
	<script type="text/javascript">
		var task_loadall = '@Url.Action("loadalltasks", "task")';
		$(function () { tsk.initAllTasks("@ViewBag.PreselectedCategory"); });
	</script>
}
