﻿@model WorkItWebsite.Models.TaskViewModel
@{
	ViewBag.Title = StringResources.NewTask;
}
@section meta {
	<meta name="description" content="Створюйте нове завдання в категоріях: послуги кур'єра, комп'ютерна допомога, роздача листівок, купити і принести, віртуальний помічник" />
	<meta name="keywords" content="завдання, задание, створити завдання, нове завдання, завдання rocketwizard" />
}
<link rel="stylesheet" href="~/ThirdParty/datetimepicker/datepicker.css" />
<div class="container">
	<h2 class="newtask-header">@StringResources.NewTask</h2>
	<div class="row">
		<!--task form-->
		<div class="well  tform-wrapper col-md-6">
			<form action="/task/createtask" method="POST" id="frmCreateTask" class="">
				<div class="form-group">
					@Html.Label(StringResources.WhatToDo, new { @class = "control-label" })
					<div class="required-field">
						@Html.TextBoxFor(m => m.Name, new { @class = "form-control", autocomplete = "off", placeholder=StringResources.WhatToDoDescription })
						@Html.ValidationMessageFor(m => m.Name)
					</div>
				</div>
				<div class="form-group">
					@Html.Label(StringResources.SelectCategory, new { @class = "control-label" })
					@Html.DropDownListFor(m => m.Category, Model.CategoryOptions, new { @class = "form-control", id = "ddlCategory" })
					<div id="divCategoryDescription" class="font-small text-muted" style="font-style: italic;"></div>
				</div>
				<div class="form-group">
					@Html.Label(StringResources.DescribeTask, new { @class = "control-label" })
					<div class="required-field">
						@Html.TextAreaFor(m => m.Description, new { @class = "form-control", autocomplete = "off", rows = 5, placeholder=StringResources.DescribeTaskDescription })
						@Html.ValidationMessageFor(m => m.Description)
					</div>
				</div>
				<div class="form-group">
					@Html.Label(StringResources.PhoneNumber, new { @class = "control-label" })
					<div class="required-field" style="width:150px;">
						@Html.TextBoxFor(m => m.Phone, new { @class = "form-control", autocomplete = "off", id="txtPhone", placeholder="(___) ___ __ __" })
						@Html.ValidationMessageFor(m => m.Phone)
					</div>
				</div>
				@Html.Label(StringResources.SetDeadline, new { @class = "control-label" })
				<div class="form-group row">
					<div class="date-filter col-md-5">
						<div class="date-filter-start">
							<div style="display:inline-block;">@StringResources.Date</div> 
							<div style="display:inline-block; width:110px;">
								@Html.TextBoxFor(m => m.DeadlineDate, new { @class = "form-control txtDateEnd" })
							</div>
						</div>
						@Html.ValidationMessageFor(m => m.DeadlineDate)
					</div>
					<div class="col-md-5">
						<div style="display:inline-block">@StringResources.Time</div>
						<div style="display:inline-block; width: 100px;">
							@Html.TextBoxFor(m => m.DeadlineTime, new { @class = "form-control", id = "txtTime" })
						</div>
						@Html.ValidationMessageFor(m => m.DeadlineTime)
					</div>
				</div>
				@Html.ValidationMessage("Deadline")
				<div class="form-group">
					@Html.Label(StringResources.HowMuchWouldYouPay, new { @class = "control-label" })
					<div>
					<div class="required-field" style="display:inline-block; width: 100px;">
						@Html.TextBoxFor(m => m.Price, new { @class = "form-control", autocomplete = "off", id = "txtPrice" })
					</div>
					<div style="display:inline-block;">грн.</div>
					@Html.ValidationMessage("PriceRequired")
					</div>
				</div>
				<div class="form-group">
					<div>
						<div class="checkbox">
							<label>
								@Html.CheckBoxFor(m => m.CustomPrice, new { id = "chkCustomPrice" })
								@StringResources.AllowSetPrice
							</label>
							@Html.ValidationMessageFor(m => m.CustomPrice)
						</div>
					</div>
				</div>
				<br />
				@if (!Request.IsAuthenticated) {
					<div class="form-group">
						<div>
							<div class="checkbox">
								<label class="font-small">
									@Html.CheckBoxFor(m => m.TermsAccepted, new { id = "chkAcceptTerms" })
									@StringResources.IAcceptTermsAndPolicy("/home/terms", "/home/privacypolicy")
								</label>
								@Html.ValidationMessageFor(m => m.TermsAccepted)
							</div>
						</div>
					</div>
				} 
				<button type="submit" id="btnAddTask" class="btn btn-success btn-block">@StringResources.CreateTask</button>
			</form>
		</div>
		<!--task form /-->
		<!--recent block-->
		<div class="col-md-6">
		</div>
		<!--recent block /-->
	</div>
</div>

@section scripts {
	@Scripts.Render("~/bundles/task", "~/bundles/jqueryval")
	<script type="text/javascript" src="~/ThirdParty/datetimepicker/datepicker.js"></script>
	<script>
		$(function () { tsk.init(); });
	</script>
}