﻿@model WorkItWebsite.Models.DisplayTaskViewModel
@{
	ViewBag.Title = StringResources.ViewTask;
}
@section meta {
	<meta name="description" content="Перегляд деталей завдання" />
	<meta name="keywords" content="завдання, перегляд завдання" />
}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="alert-wrapper">
				@if(Model.IsLocked) {
					<div class="alert alert-warning text-center">@Model.TaskStatusMessage</div>
				} else {
					<div class="alert alert-success text-center">@Model.TaskStatusMessage</div>
				}
			</div>
			<div class="task-wrapper well">
				<div class="task-title">
					<h3>@Model.Task.Name</h3>
				</div>
				<div class="task-body">
					<div class="task-desc">
						@Model.Task.Description
					</div>
					<div class="task-date">
						<label>@StringResources.Deadline</label><br />
						@Model.Task.Deadline
					</div>
					<div class="task-price">
						<label>@StringResources.Price</label><br />
						@Model.Price
					</div>
					@if(Model.IsAcceptedPerformer) {
						<div class="task-phone">
							<label>@StringResources.CustomerPhoneNumber</label><br />
							@Model.Task.Phone
						</div>
					}
					<div class="task-owner font-small">
						<a href="@Model.OwnerUrl">@Model.OwnerName</a>
						@if (Model.Task.User.Gender == 1) {
							<text>@StringResources.ShePublished</text>
						} else {
							<text> @StringResources.HePublished</text>
						}
						@StringResources.ThisTask @Model.Task.Created
					</div>
				</div>
			</div>
			<div class="task-nav">
				@if(!Model.IsLocked) {
					if (Model.IsSubscribed) {
						<button type="button" id="btnUnsubscribe" class="btn btn-danger">@StringResources.RemoveRequest</button>
						<button type="button" id="btnSubscribe" style="display: none;" class="btn btn-success">@StringResources.SendRequest</button>
					} else if (Model.IsPerformer && !Model.IsOwner) {
						<button type="button" id="btnUnsubscribe" style="display: none;" class="btn btn-danger">@StringResources.RemoveRequest</button>
						<button type="button" id="btnSubscribe" class="btn btn-success">@StringResources.SendRequest</button>
					}

					if (Model.IsOwner) {
						<button type="button" id="btnDelete" class="btn btn-danger">@StringResources.Delete</button>
					}
				} else if(Model.IsOwner && !Model.IsFinished) {
					<button type="button" id="btnCloseTask" class="btn btn-success">@StringResources.FinishTask</button>
					<div class="finish-block" style="display: none;">
						<label>@StringResources.ResponseAboutExecutor</label>
						<textarea class="form-control" rows="3" id="txtSubResponse" placeholder="@StringResources.WriteSimpleResponse"></textarea>
						<label>@StringResources.ValueQualityOrder</label>
						<select style="width: 150px; margin-bottom: 10px;" id="ddlResponseType" class="form-control">
							<option value="1">@StringResources.Good</option>
							<option value="2">@StringResources.Neutral</option>
							<option value="3">@StringResources.Bad</option>
						</select>
						<button type="button" id="btnFinishTask" class="btn btn-sm btn-success">@StringResources.Save</button>
					</div>
				}

			</div>
			<div class="spinner-wrapper" style="display:inline-block;" ></div>

			@if (!Model.IsLocked && Model.IsPerformer && !Model.IsOwner) {
				<div class="subscribe-block" style="display: none;">
					<label>@StringResources.RequestForm</label>
					<textarea class="form-control" rows="3" id="txtSubQuestion" placeholder="@StringResources.SetAdditionalQuestion"></textarea>
					@if (Model.IsCustomPrice) {
						<label>@StringResources.SetTaskPrice</label>
						<div class="row">
							<div class="col-md-3"><input type="text" id="txtPrice" class="form-control" /> </div>
							<div class="col-md-2">грн.</div>
						</div>
	 }
					<div id="subPvalmsg" class="text-danger" style="display:none;">@StringResources.InvalidPrice</div>
					<button type="button" id="btnSaveSubscription" class="btn btn-sm btn-success">@StringResources.Save</button>
				</div>
   }
			<div class="performers-wrapper" data-bind="foreach: requests">
				<div data-bind="attr: { id: RequestId }">
					<div>
					<!--request item -->
					<div class="request-wrapper well well-sm">
						<div class="request-title">
							<div class="col-md-9">
								<img class="img50 img-circle" data-bind="attr: { src: ProfileImage }" alt="Фото профілю" />
								<a data-bind="attr: { href: ProfileUrl }, text: DisplayName "></a>
							</div>
							<div class="request-date font-small" data-bind="text: Created"></div>
						</div>
						<div class="col-md-10">
						<div class="request-content" data-bind="text: Question"></div>
						<div data-bind="if: Price > 0">
							<span>@StringResources.Cost </span><div class="request-price" style="display: inline-block;" data-bind="text: Price"></div><span> грн.</span>
						</div>
						</div>
						<div class="col-md-2">
							<div data-bind="css: $root.selectedRequest($data)"></div>
						</div>
					</div>
					
					<!--request item /-->
					@if (Model.IsOwner) {
						<a href="#" class="btn btn-success btn-sm" data-bind="click: $root.respond">@StringResources.CommentBtn</a>
	 } else if (Model.IsPerformer) {
						<div data-bind="if: $root.allowComment($data)">
							<a href="#" class="btn btn-success btn-sm" data-bind="click: $root.respond">@StringResources.CommentBtn</a>
						</div>
	 }

					@if (Model.IsOwner) {
		 if (!Model.IsLocked) {
							<button type="button" class="btn btn-success btn-sm" data-bind="click: $root.acceptPerformer">@StringResources.SelectThisExecutor</button>
							<div class="accept"><div class="spinner-wrapper"></div></div>
		 }

	 }

					@if (Model.IsOwner) {
						<div class="respond-block" style="display: none;">
							<label>@StringResources.Comment</label>
							<textarea class="form-control" rows="3" id="txtSubComment"></textarea>
							<div id="subCvalmsg" class="text-danger" style="display:none;">@StringResources.CommentCannotBeEmpty</div>
							<button type="button" id="btnSaveResponse" data-bind="click: $root.saveResponse" class="btn btn-sm btn-success">@StringResources.Save</button>
						</div>
	 } else if (Model.IsPerformer) {
						<div data-bind="if: $root.allowComment($data)">
							<div class="respond-block" style="display: none;">
							<label>Коментар:</label>
							<textarea class="form-control" rows="3" id="txtSubComment"></textarea>
							<div id="subCvalmsg" class="text-danger" style="display:none;">>@StringResources.CommentCannotBeEmpty</div>
							<button type="button" id="btnSaveResponse" data-bind="click: $root.saveResponse" class="btn btn-sm btn-success">@StringResources.Save</button>
						</div>
						</div>
	 }

					<!--comment item -->
					<div class="comment-wrapper" data-bind="foreach: Comments">
						<div class="comment">
							<div class="comment-title row">
							<div class="col-md-9">
								<img class="img50 img-circle" data-bind="attr: { src: ImgUrl }" alt="Фото профілю" />
								<a data-bind="attr: { href: ProfileUrl }, text: DisplayName "></a>
							</div>
							<div class="request-date font-small" data-bind="text: Created"></div>
						</div>
							<div class="comment-text" data-bind="text: Text"></div>
						</div>
					</div>
					<!--comment item /-->
				</div>
			</div>
		</div>
		<div class="col-md-6"></div>
	</div>
</div>
<form id="frmAcceptUser" action="/task/acceptperformer" method="post">
	<input type="hidden" id="hidd_tId" name="taskId" />
	<input type="hidden" id="hidd_rId" name="requestorId" />
</form>

@section scripts {
	<script type="text/javascript">
		var task_subscribe = '@Url.Action("subscribe", "task")';
		var task_unsubscribe = '@Url.Action("unsubscribe", "task")';
		var task_getrequests = '@Url.Action("getrequests", "task")';
		var task_delete = '@Url.Action("delete", "task")';
		var task_close = '@Url.Action("closetask", "task")';
		var task_savecomment = '@Url.Action("savecomment", "task")';
		var task_loadall = '@Url.Action("loadalltasks", "task")';
	</script>
	@Scripts.Render("~/bundles/knockout", "~/bundles/task")
	<script type="text/javascript" src="~/ThirdParty/datetimepicker/maskedinput.js"></script>
	<script type="text/javascript">
		$(function () {
			tsk.balance = @Model.Task.User.UserInfo.PaymentBalance;
			tsk.price = @Model.Task.Price;
			tsk.initTaskView(@ViewBag.TaskId, @ViewBag.UserId, "@Model.IsActive" == "True", @ViewBag.PerformerId); 
		});
	</script>
}
