﻿@model WorkItWebsite.Models.ImageUploadModel
<link rel="stylesheet" href="~/ThirdParty/imageareaselect/imgareaselect-default.css" />

<style>
	#preview { max-height: 260px; max-width: 300px; min-height: 150px; min-width: 150px; }
	.text-file { max-width: 200px; }
	.btn-file { display: inline-block; }
	.localFile-group div { padding-left: 0px; }
	.preview-img-border { height: 260px; width: 300px; border: 1px dotted; }
</style>

<div class="row">
	<div>
		<label>@StringResources.SelectProfilePhoto</label>
	</div>
	<div class="col-md-8">
		<div>
			<p>@StringResources.UploadFile</p> 
			<span class="font-small text-muted">@StringResources.MinSize - 150х150<br />
			@StringResources.AllowedFileTypes: .jpg|.jpeg|.png <br />
			@StringResources.MaxFileSize: 10 МБ
			</span>
			<div class="input-group localFile-group">
				<div class="col-md-3">
					<span class="btn btn-sm btn-default btn-file">
						Файл... @Html.FileFor(m => m.ProfilePhoto)
					</span>
				</div>
				<div class="col-md-9">
					<input type="text" class="text-file form-control" readonly />
				</div>
			</div>
			<div class="localFile-validation text-danger" style="display: none;"></div>
		</div>
		<div class="remote-wrapper">
			<p>
				@StringResources.OrSetLinkedPhoto
			</p>
			<div class="input-group">
				@Html.TextBox("remoteImageUrl", "", new { @class="form-control" })
				<span class="input-group-btn">
					<button type="button" id="btnImageUrl" class="btn btn-sm btn-default">@StringResources.ChangePhoto</button>
				</span>
			</div>
			<div class="remoteUrl-validation text-danger" style="display: none;">@StringResources.InvalidPhotoLink</div>
		</div>
		@Html.ValidationMessageFor(m => m.ProfilePhoto)
	</div>
	<div class="col-md-3">
		<div class="preview-img-border">
			<img src="@Model.Url" alt="Неможливо відобразити зображення" id="preview" /><br />
		</div>
	</div>
</div>

@Html.HiddenFor(m => m.Url)
@Html.HiddenFor(m => m.UploadFileType)
@Html.HiddenFor(model => model.X)
@Html.HiddenFor(model => model.Y)
@Html.HiddenFor(model => model.Width)
@Html.HiddenFor(model => model.Height)

@Scripts.Render("~/bundles/imageupload")
