﻿#admin-content .user-grid-wrapper { float: left; max-width: 600px; margin-left: 15px; }
#admin-content .user-info { float: right; }
#admin-content .user-statistics { clear: both; }

#admin-content .table-nav { margin-bottom: 10px; }
form label { font-size: 13px; }
