﻿@media screen and (max-width: 991px) {
	.btnFilter { margin-top: 10px; }
	.btn-register a.btn-info { margin-top: 10px; }
}

@media screen and (max-width: 767px) {
	.header-content .cbody-intro { display: none; }
	.header-content .cbody-intro-mobile { display: block; }
	
}

@media screen and (max-width: 466px) {
	.date-filter .date-filter-end { margin-top: 10px; }
}
