﻿/*Base*/
html, body {font-family: Arial,Helvetica,sans-serif !important; height: 100%; }
h1, h2, h3, h4, h5, h6, p, span { font-family: Arial,Helvetica,sans-serif; }
.font-small { font-size: 12px; }
.navbar { border-radius: 0px; margin-bottom: 0px; }
input[type=text], input[type=password], input[type=email] { height: 35px; }
.btn-file { position: relative; overflow: hidden; }
.btn-file input[type=file] { position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; font-size: 999px; text-align: right; filter: alpha(opacity=0); opacity: 0; background: red; cursor: inherit; display: block; }
.form-control { padding: 5px 15px; }
.container { margin-top: 30px; margin-bottom: 30px; }
.container .body-well { min-height: 400px; }
.clear { clear: both; }
i { display: inline-block; }
.img50 { width: 50px; height: 50px; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix {display: inline-block;}
pre { color: inherit; background: none; border: none; word-wrap: break-word; word-break: break-word; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
.well { background-color: #F2F7F7; }
/* End hide from IE-mac */
.spinner1 { background: url(../img/spinner1.gif) no-repeat; width: 32px; height: 32px; margin: 0 auto; position: relative; }
.spinner2 { background: url(../img/spinner2.gif) no-repeat; width: 32px; height: 32px; margin: 0 auto; position: relative; }
.spinner { background: url(../img/spinner.gif) no-repeat; width: 32px; height: 32px; margin: 0 auto; position: relative; }
.spinner-wrapper { width: 50px; margin: 0 auto; }

/*alerts*/
.alert-warning { color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc; }

.content-wrapper { height: 100%; }
body > .content-wrapper { height: auto; min-height: 100%; }
.body-wrapper { padding-bottom: 150px; }

/*Validation*/
.input-validation-error { border: 2px solid #e74c3c !important; }
.field-validation-error { color: #e74c3c; }

/*Header*/
.navbar-default { background: #33577A; border-color: #33577A; }
.header-nav { padding: 0 15px; }
.header-content { margin: 0 auto; max-height: 450px; overflow:hidden; }
.header-content .carousel { max-height: 450px; }

#login-navigation > li > a { color: #18BC9C; }
#login-navigation > li > a:hover { 
	color: #fff; 
}
.navbar-login #nav-user div { 
	border-bottom: 1px dashed #18BC9C; 
}


/*Footer*/
.footer { position: relative;  clear: both; }
.footer-content {background: #33577A; width: 100%; color: #fff; margin-top: -150px; min-height: 150px; margin-bottom: 0px; }
.footer-content div { text-align: left; }
.footer-content h4 { border-bottom: 1px solid #fff; }
.footer-content p { font-size: 12px; }
.footer .footer-nav { list-style-type: none; padding-left: 0px; }
.footer .footer-nav li { display: inline-block; padding: 0 5px; line-height: 10px; }
.footer .footer-nav li + li { border-left: 1px solid #18bc9c; }
.footer .footer-nav li a:hover { color: #fff; }
.footer .copy { max-width: 300px; margin: 0 auto; }
.footer .footer-about { margin-top: 10px; }
.footer .footer-social { margin-top: 10px; }

/*Landing page*/
.cbody-intro { margin-top: 100px; margin-left: 50px; width: 435px; background: rgba(219, 214, 214, 0.8); position: absolute; top: 0; padding: 15px; }
.header-content .cbody-intro-mobile { display: none; }
.cbody-wrapper { width: 100%; border-bottom: 2px solid #E7E7E7; border-top: 4px solid #E7E7E7; }
.cbody-thesis { margin: 0 auto; padding: 20px 0px; }
.cbody-thesis .landing-img { float: left; margin-right: 10px; }
.cbody-thesis .cite-wrapper { text-align: center; }
.cbody-thesis .row > div { min-height: 65px; }
.cbody-bottom { margin-bottom: 0px !important; margin-top: 0px !important; width: 100%; background: #F7F7F7; border-bottom: 2px solid #E7E7E7; border-top: 2px solid #E7E7E7; }
.cbody-bottom .cbody-categories { margin: 0 auto; margin-top: 10px; }
.cbody-bottom .cbody-categories > div { text-align: center; }

.bottom-text, .cbody-title { max-width: 700px; border-bottom: 1px dotted; margin: 0 auto; }
.bottom-text div, .cbody-title div { text-align: center; }
.landing-img { float: left; margin-right: 10px; background: url("../img/landing-sprite.png") no-repeat; display: inline-block; width: 64px; height: 60px; }
.landing-img.img-clock { background-position: 0px -64px; }
.landing-img.img-lock { background-position: 0px -186px; }
.landing-img.img-calendar { background-position: 0px -125px; }
.landing-img.img-wallet { background-position: 0px 0px; }
.landing-img.img-credit { background-position: 0px -250px; }
.btn-register a { margin: 0 auto; display: inherit; }
.btn-register a.btn-info { width: 230px; }

#carousel-cite .carousel-control.left,
#carousel-cite .carousel-control.right { background-image: none; }
#carousel-cite .glyphicon-chevron-left { left: -20px; }
#carousel-cite .glyphicon-chevron-right { right: -20px; }
#carousel-cite .cite-sub { font-style: italic; margin-top: 10px; }
.cite-wrapper .qo { font-size: 32px; color: #18BC9C; }
.cote-wrapper .cite-wrap,
.cite-wrapper #carousel-cite { height: 150px; }
.cbody-categories a { display: inline-block; border: 2px solid #fff; padding: 2px; border-radius: 70px;}
.cbody-categories a:hover { border: 2px solid #13987e; border-radius: 70px; padding: 2px; }


/*Register page*/
.gender-group input[type=radio] { float: none; }
.register .regform .well { padding: 20px 30px; }
.register .regform label { text-align: left; }
.birthdate-group div { padding-left: 0px; padding-right: 0px; }
.birthdate-group .form-control { width: auto; height: auto; padding: 5px 4px; }
.birthdate-group .ddl-day { width: 60px; padding: 5px; }
.birthdate-group .ddl-month { width: 82px; margin-left: 7px; }
.birthdate-group .ddl-year { width: 75px; margin-left: 19px; }
.register .regform .required-field { padding-top: 8px; }
.register .regform .required-field .input-addon { display: table-cell; float: left; }
.register .regform .required-field .form-control { width: 97%; }
.social-login { float: left; margin-top: 30px; margin-left: 30px; }
.social-login div { padding-bottom: 10px; }
.social-login button,
.social-login button:hover { border: 2px solid #13987e; border-radius: 35px; padding: 2px; }
.social-login button { border-color: #e7e7e7; }

/*Login*/
.modal-header { color: #fff; }
.modal-body { padding-bottom: 0px; }
.control-label { text-align: left; }
.login-modal .social-login { margin-top: 0px; margin-left: 0px; float:none; }
.login-modal .social-login div { display: inline-block; padding-left: 10px; }
.login-modal .social-login img { width: 35px; }
.login-modal .group-social { margin-bottom: 0px; }
.login-modal .text-social { padding-top: 10px; }

/*User profile*/
.user-profile .user-extra > div { margin-left: 0px; }
.user-profile .user-extra .extra-data { margin-left: 15px; margin-bottom: 10px; }
.user-profile .ucontent-wrapper { width: 100%; }
.user-profile .ucontent-body { padding-top: 30px; max-width: 750px; }
.user-profile .ucontent-about { max-width: 750px; }
.user-profile .profile-header { margin-right: 10px; margin-top: 10px; display: inline-block; }
.user-profile .profile-img { width: 150px; height: 150px; }
.user-profile .well { overflow: auto; }
.user-profile .user-data h3 { margin-top: 0px; }
.user-profile .ucontent-tabs { padding-top: 20px; }
.user-profile .user-general div { display: inline-block; margin-right: 15px; }
.user-profile .response-rate { margin: 10px 2px; }
.user-profile .response-rate span { background: url("../img/feedback-sprite.png") no-repeat; display: inline-block; min-width: 24px; height: 24px; padding-left: 29px; padding-top: 2px; }
.user-profile .response-rate span + span { margin-left: 10px; }
.user-profile .response-rate .gresponse { color: #18bc9c; background-position: 0px 0px; }
.user-profile .response-rate .nresponse { color: #d2850b; background-position: 0px -24px; }
.user-profile .response-rate .bresponse { color: #df2e1b; background-position: 0px -48px; }
.user-profile .uicon {display:inline-block; padding-left: 40px; padding-top: 5px; min-width: 24px; height: 25px;  background: url(../img/extrainfosprite.png) no-repeat; }
.user-profile .i-address { background-position: 0px -70px; }
.user-profile .i-edu { background-position: 0px -95px; }
.user-profile .i-work { background-position: 0px 0px; }
.user-profile .i-langs { background-position: 0px -24px; }
.user-profile .i-car { background-position: 0px -49px; height: 22px; }
.user-profile .profile-nav ul { list-style-type: none; padding-left: 0px; padding-top: 10px; }
.user-profile .profile-nav li + li { padding-top: 5px; }
.ptasks-wrapper, .otasks-wrapper { margin: 15px; }

/*Response block, Task block*/
.task-wrapper, .response-wrapper { min-height: 30px;  padding: 15px; max-width: 600px; margin: 0 auto; }
.task-wrapper + .task-wrapper, .response-wrapper + .response-wrapper { margin-top: 15px; }
.task-wrapper .task-content { padding-top: 5px; }
.response-wrapper .response-content { padding-top: 5px; border-left: solid; }
.task-wrapper .task-title, .response-wrapper .response-title { padding-bottom: 5px; }
.response-title > div { padding-left: 0px; }
.task-wrapper .task-title .task-date, .response-wrapper .response-title .response-date { float: right; padding-right: 10px; }
.response-content.response-good {border-color: #13987e; border-left-width: 10px; }
.response-content.response-neutral {border-color: #d2850b; border-left-width: 10px; }
.response-content.response-bad {border-color: #df2e1b; border-left-width: 10px; }
#ptask-pager, #otask-pager, #response-pager { text-align: center; }

/*Password recovery*/
.pass-recover #frmResetPass .control-label { width: 215px; }

/*tasks filter*/
.task-filter { padding-bottom: 10px; overflow: auto; margin-top: 10px; border-bottom: 1px solid #ecf0f1; margin: 10px auto; }
.task-filter .form-control { width: 150px; height: 32px; }
.task-filter select { display: inline-block; }
.task-filter label { margin-right: 15px; padding-top: 7px; display: inline-block; }
.task-filter .date-filter span { padding-right: 5px; padding-top: 5px; }
.task-filter .date-filter, .task-filter .date-filter div,
.task-filter .date-filter input, .task-filter .date-filter span { display: inline-block }


/*Edit profile*/
.user-profile .extra-desc { margin-right: 15px; }
.user-profile #divTxtEmail label { padding-top: 10px; }
.user-profile .ep-save { margin-top: 15px; }
.modal-body { overflow: auto; }
#cpModalWrapper #resultmsg { text-align: center; }

.categories .category-item { text-align: center; }

/*Create task*/
#frmCreateTask #ddlCategory { width: 50%; }

/*View task*/
.task-body .task-desc { padding-bottom: 10px; }
.task-body .task-owner { padding-top: 20px; }
.task-body .task-price { padding-top: 5px; }
.task-nav, .performers-wrapper { margin-top: 20px; }
.performers-wrapper .comment-wrapper { margin-top: 10px; }
.comment-wrapper .comment { border-bottom: 1px dotted; margin-bottom: 10px; }
.comment-wrapper .comment-text { margin-left: 70px; padding: 5px 0px; }
.comment-wrapper .comment-title .request-date,
.performers-wrapper .request-title .request-date { float: right; padding-right: 10px; padding-top:10px; }

.comment-wrapper .comment-title .request-date { padding-right: 17px; }

.performers-wrapper .request-content { padding-left: 50px; }
.subscribe-block, .respond-block { margin-top: 10px; }
.subscribe-block #btnSaveSubscription,
.respond-block #btnSaveResponse { margin-top: 10px; }

.performers-wrapper .request-wrapper { overflow: auto; }
.performers-wrapper .selected-request { background: url("../img/check.png") no-repeat; width: 64px; height: 64px; }

/*executors*/
.ex-img { width: 128px; height: 128px; background: url("../img/execs.png"); }
.img-money { background-position: 0px 0px; }
.img-time { background-position: 0px -128px; }
.img-quality { background-position: 0px -256px; }
.img-clock { background-position: 0px -384px; }
.img-mtime { background: url("../img/mtime.png"); }
.img-team { background: url("../img/team.png") no-repeat;}
.about-content > div + div, .executors-content > div + div { margin-top: 30px; }

.of-text OL { counter-reset: item; padding-left: 10px; }
.of-text LI { display: block; margin-top: 10px; }
.of-text LI:before { content: counters(item, ".") "."; counter-increment: item }

.howto .row { margin-bottom: 50px; }
.about-content .vertical, .howto .vertical { display: table-cell; vertical-align: middle; }

/*logo*/
.navbar-brand .site-logo { display: inline-block; position: absolute; top: 0; z-index: 5; width: 101px; height: 60px; }
.navbar-brand .site-logo { background: url("../img/rw_logo.png") 0px 0px; }
.navbar-brand .site-logo:hover { background: url("../img/rw_logo.png") 0px 60px; }
#main-menu-collapse { margin-left: 120px; }
