﻿@{
    ViewBag.Title = StringResources.AboutProject;
}

<div class="container">
	<h2>@StringResources.AboutUs</h2>
	<div class="well about-content">
		<div class="team row">
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-md-4 col-md-offset-2"><h4>@StringResources.WhoWeAre</h4></div>
			</div>
			<div class="col-md-2 col-md-offset-1">
				<div class="ex-img img-team"></div>
			</div>
			<div class="col-md-7" style="margin-bottom: 20px;">
				@StringResources.WhoWeAreDescription
			</div>
		</div>
		<div class="money row">
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-md-4 col-md-offset-2"><h4>@StringResources.ForWhomProject</h4></div>
			</div>
			<div class="col-md-2 col-md-offset-1">
				<div class="ex-img img-mtime"></div>
			</div>
			<div class="col-md-7">
				@StringResources.ForWhomProjectDescription
			</div>
		</div>
		<div class="safety row">
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-md-4 col-md-offset-2"><h4>@StringResources.WhySafe</h4></div>
			</div>
			<div class="col-md-2 col-md-offset-1">
				<div class="ex-img img-quality"></div>
			</div>
			<div class="col-md-7">
				@StringResources.WhySafeDescription
			</div>
		</div>
		<div class="row" style="width: 200px; margin: 0 auto; margin-top: 20px;">
			@Html.ActionLink(StringResources.CreateTask, "createtask", "task", new { @class="btn btn-success btn-lg" })
		</div>
	</div>
</div>