﻿@{
    ViewBag.Title = StringResources.ContactInformation;
}
<div class="container">
	<h2>@StringResources.OurContacts</h2>
	<div class="well">
		<h4>@StringResources.PhoneNumbers:</h4>
		<p>
			<strong>+38050 294 25 25</strong> - @StringResources.SobchukPavlo<br />
			<strong>+38066 022 60 09</strong> - @StringResources.SkabVasyl<br />
			<i>@StringResources.EmailAddressShort:</i> <strong>info@rocketwizard.com.ua</strong>
		</p>
		<h4>@StringResources.Address:</h4>
		<p>
			@StringResources.ActualAddress
		</p>
	</div>
</div>