﻿@{
	ViewBag.Title = StringResources.ExecutorWorkService;
}
@section meta{
	<meta name="description" content="В пошуках роботи? Реєструйтесь, виконуйте завдання та отримуйте прибуток." />
	<meta name="keywords" content="робота, робота кур'єром, виконання завдання, надання послуг" />
}
<div class="container executors">
	<h2>@StringResources.WhatExecutorMeans</h2>
	<div class="well executors-content">
		<div class="quality row">
			<div class="col-md-2 col-md-offset-1">
				<div class="ex-img img-quality"></div>
			</div>
			<div class="col-md-7">
				<h4>RocketWizard - @StringResources.QualityWarranty</h4>
				@StringResources.QualityWarrantyDescription
			</div>
		</div>
		<div class="money row">
			<div class="col-md-2 col-md-offset-1">
				<div class="ex-img img-money"></div>
			</div>
			<div class="col-md-7">
				<h4>RocketWizard - @StringResources.AdditionalProfit</h4>
				@StringResources.AdditionalProfitDescription
			</div>

		</div>
		<div class="time row">
			<div class="col-md-2 col-md-offset-1">
				<div class="ex-img img-time"></div>
			</div>
			<div class="col-md-7">
				<h4>RocketWizard - @StringResources.FreeScheduling</h4>
				@StringResources.FreeSchedulingDescription
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h4>@StringResources.WillingToDoTasks</h4>
				<p>
					@StringResources.WillingToDoTasksDescription
				</p>
				<p><i>@StringResources.OurContacts:</i></p>
				<p>
					<strong>+38066 022 60 09</strong> - @StringResources.SkabVasyl
						<br />
					<strong>+38050 294 25 25</strong> - @StringResources.SobchukPavlo
				</p>
				<p>
					<i>@StringResources.EmailAddressShort:</i> <strong>info@rocketwizard.com.ua</strong>
				</p>
				<p>
					@StringResources.NotRegisteredClickHere: <br /><br />
					@Html.ActionLink(StringResources.RegisterBtn, "register", "account", null, new { @class ="btn btn-sm btn-success" })
				</p>
				
			</div>
		</div>
	</div>
</div>
