﻿@{
	ViewBag.Title = @StringResources.HowToOrderTask;
}

<div class="container howto" style="max-width: 1000px;">
	<h2>RocketWizard @StringResources.It...</h2>
	<div class="row">
		<div class="col-md-4">
			<img src="~/Content/img/shield.png" alt="Безпека RocketWizard" style="float:left;" />
		</div>
		<div class="vertical col-md-8" style="margin-top: 10px;">
			@StringResources.ServiceDescription
		</div>
	</div>

	<h2>@StringResources.HowToOrderTask</h2>
	<div>
		<div class="row">
			<img src="~/Content/img/howto/new_task.png" alt="Нове завдання" style="width: 400px; float: left;" />
			<div class="vertical" style="height: 300px;">
				<label>@StringResources.DescribeWhatYouNeed</label><br />
				@StringResources.DescribeWhatYouNeedDescription
			</div>
			
		</div>
		<div class="row">
			<img src="~/Content/img/howto/select_exec.png" style="width: 400px; float: left;" />
			<div class="vertical" style="height: 300px;">
				<label>@StringResources.SelectPerformerForTask</label><br />
				@StringResources.SelectPerformerForTaskDescription
			</div>
		</div>
		<div class="row">
			<img src="~/Content/img/howto/response.png" style="width: 400px; float: left;" />
			<div class="vertical" style="height: 300px;">
				<label>@StringResources.CompleteYourTaskLeaveResponse</label><br />
				@StringResources.CompleteYourTaskLeaveResponseDescription
			</div>
		</div>
		<div class="row" style="width: 200px; margin: 0 auto;">
			@Html.ActionLink(StringResources.CreateTask, "createtask", "task", null, new { @class="btn btn-success btn-lg" })
		</div>
	</div>
</div>

