﻿@{
	ViewBag.Title = StringResources.ServiceForFindingExecutors;
}
@section meta {
	<meta name="description" content="Виконавці для ваших завдань. Робота в категоріях: Кур'єр, купити і принести, фото послуги, ремонт, роздача листівок, комп'ютерна допомога. " />
	<meta name="keywords" content="rocketwizard, рокетвізард, тимчасова робота, временные услуги, работа, знайти виконавця, найти исполнителя" />
	<meta name='yandex-verification' content='58958186cec6d965' />
	<meta name="google-site-verification" content="9Upa7wM9g6as8v0B10G-23EztxqUB5cgKqsEBd3KcHQ" />
}

<div class="header-content">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="~/Content/img/WorkersComp.jpg" alt="slide1">
			</div>
			<div class="item">
				<img src="~/Content/img/WorkersComp.jpg" alt="slide2">
			</div>
			<div class="item">
				<img src="~/Content/img/WorkersComp.jpg" alt="slide3">
			</div>
		</div>
	</div>
	<div class="cbody-intro">
		<h2>@StringResources.ServiceForFindingExecutors</h2>
		<h5>@StringResources.ConvenientWayToFindExecutor</h5>
		@Html.ActionLink(StringResources.CreateTask, "createtask", "task", null, new  { @class="btn btn-success btn-lg" })
	</div>
	<div class="cbody-intro-mobile">
		@Html.ActionLink(StringResources.CreateTask, "createtask", "task", null, new  { @class="btn btn-success btn-lg btn-block" })
	</div>
</div>
<div class="cbody-wrapper">
	<div class="cbody-title">
		<div style="display: inline-block;">
			<h2>@StringResources.SearchExecutorsForYourWork</h2>
			<h5>@StringResources.NeedHelpCreateTask</h5>
		</div>
		<div class="share-social" style="display: inline-block;">
			<div class="vk-social-btn" style="display: inline-block;">
				<div id="vk_like" ></div>
				<script type="text/javascript">VK.Widgets.Like("vk_like", { type: "mini", height: 20 });</script>
			</div>
			<div class="gplus-social-btn" style="display: inline-block;">
				<div class="g-plusone" data-href="https://rocketwizard.com.ua" data-size="medium"></div>
			</div>
			<div class="facebook-social-btn" style="display: inline-block;">
				<div class="fb-like" data-href="https://rocketwizard.com.ua" data-width="150" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
			</div>
		</div>
	</div>
	<div class="cbody-thesis container">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6">
					<span class="landing-img img-clock img-rounded"></span>
					<h4>@StringResources.SaveYourTime</h4>
					<p class="font-small text-muted">@StringResources.SaveYourTimeDescription</p>
				</div>
				<div class="col-md-6">
					<span class="landing-img img-wallet img-rounded"></span>
					<h4>@StringResources.SaveYourMoney</h4>
					<p class="font-small text-muted">@StringResources.SaveYourMoneyDescription</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<span class="landing-img img-lock img-rounded"></span>
					<h4>@StringResources.SafeWork</h4>
					<p class="font-small text-muted">@StringResources.SafeWorkDescription</p>
				</div>
				<div class="col-md-6">
					<span class="landing-img img-calendar img-rounded"></span>
					<h4 class="text-primary">@StringResources.PlanYourDay</h4>
					<p class="font-small text-muted">@StringResources.PlanYourDayDescription</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<span class="landing-img img-credit img-rounded"></span>
					<h4>@StringResources.EarnMoney</h4>
					<p class="font-small text-muted">@StringResources.EarnMoneyDescription</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 cite-wrapper">
			<div class="text-left qo">&quot;</div>
			<div id="carousel-cite" class="carousel slide" data-ride="carousel">
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="cite-wrap">
							<div class="cite-content">
								<div class="cite-text">
									@StringResources.CiteOneText
								</div>
								<div class="cite-sub font-small">@StringResources.CiteOneBottom</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="cite-wrap">
							<div class="cite-content">
								<div class="cite-text">
									@StringResources.CiteTwoText
								</div>
								<div class="cite-sub font-small">@StringResources.CiteTwoBottom</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="cite-wrap">
							<div class="cite-content">
								<div class="cite-text">
									@StringResources.CiteThreeText
								</div>
								<div class="cite-sub font-small">@StringResources.CiteTwoBottom</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="cite-wrap">
							<div class="cite-content">
								<div class="cite-text">
									@StringResources.CiteFourText
								</div>
								<div class="cite-sub font-small">@StringResources.CiteFourBottom</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="cite-wrap">
							<div class="cite-content">
								<div class="cite-text">
									@StringResources.CiteFiveText
								</div>
								<div class="cite-sub font-small">@StringResources.CiteFiveBottom</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-cite" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-cite" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
			<div class="text-right qo">&quot;</div>
		</div>
	</div>
</div>
<div class="cbody-bottom container">
	<div class="bottom-text">
		<div>
			<h2>@StringResources.MostPopularCategories</h2>
			<h5>@StringResources.DontWasteYourTime</h5>
		</div>
	</div>
	<div class="cbody-categories row">
		<div class="col-md-2 col-md-offset-2">
			<a href="@Url.Action("all", "task", new { id = "courier" })">
				<img src="~/Content/img/courier.png" alt="Послуги кур'єра" class="img-circle" />
			</a>
			<i class="font-small">@StringResources.CourierTask</i>
		</div>
		<div class="col-md-2">
			<a href="@Url.Action("all", "task", new { id = "deliver" })">
				<img src="~/Content/img/buy.png" alt="Купити і принести" class="img-circle" />
			</a>
			<i class="font-small">@StringResources.DeliveryTask</i>
		</div>
		<div class="col-md-2">
			<a href="@Url.Action("all", "task", new { id = "computer" })">
				<img src="~/Content/img/computer.png" alt="Комп'ютерна допомога" class="img-circle" />
			</a>
			<i class="font-small">@StringResources.ComputerTask</i>
		</div>
		<div class="col-md-2">
			<a href="@Url.Action("all", "task", new { id = "helper" })">
				<img src="~/Content/img/virtual.png" alt="Віртуальний помічник" class="img-circle" />
			</a>
			<i class="font-small">@StringResources.HelperTask</i>
		</div>
	</div>
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<div class="btn-register row">
				<div class="col-md-6">
					<a href="@Url.Action("register", "account")" class="btn btn-lg btn-success">@StringResources.RegisterBtn</a>
				</div>
				<div class="col-md-3">
					<a href="@Url.Action("executors", "home")" class="btn btn-lg btn-info">@StringResources.BecomeAnExecutor</a>
				</div>
			</div>
		</div>
	</div>
</div>
@section scripts {
	<script>
		$(function () {
			login.showPopup = "@ViewBag.ShowLoginPopup".toLowerCase() == "true";
			login.init();
		});
	</script>
}