﻿@{
    ViewBag.Title = "Ліцензії та авторські права";
}

<div class="container well">
	<h4>Ліцензії та авторські права на ресурси, використані на сайті</h4>

	<div>
		Ряд зображень: <a href="https://www.iconfinder.com/search/?q=iconset%3ATWG_Retina_Icons">Знайдено тут</a><br />
		Автор: <a href="http://blog.twg.ca/">The Working Group</a><br />
		Ліцензія: <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a><br />

		Зображення змінено. (колір)
	</div>
	<hr />
	<div>
		Ряд зображень: <a href="https://www.iconfinder.com/search/?q=iconset%3Alinecons-free-vector-icons-packs">Знайдено тут</a><br />
		Автор: <a href="http://designmodo.com/linecons-free/">Designmodo</a><br />
		Ліцензія: <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a><br />

		Зображення змінено. (колір)
	</div>
	<hr />
	<div>
		Зображення соц. мереж: <a href="https://www.iconfinder.com/search/?q=iconset%3Asocial-circle">Social circle</a><br />
		Автор: Vectorgraphit<br />
		Ліцензія: <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a><br />

		Зображення змінено (розмір, колір)
	</div>
	<hr />
	<div>
		Cмайли: <a href="https://www.iconfinder.com/icons/34951/neutral_icon#size=24">Знайдено тут</a><br />
		Автор:  Hylke<br />
		Ліцензія: <a href="http://www.gnu.org/licenses/gpl-2.0.html">GPL 2.0</a>
	</div>
</div>
