﻿@{
    ViewBag.Title = "Політика конфіденційності";
}
<div class="container of-text">
	<h2>Політика конфіденційності</h2>
	<div class="well">
		<ol>
			<li>
				Ця Угода конфіденційності (далі - «Угода») є невід'ємною частиною Угоди про використання ресурсу «Rocketwizard.com.ua» фізичними особами. Терміни і поняття, що використовуються в цих Правилах аналогічні термінам і поняттям, використовуваним в основному тексті Угоди. Використовуючи ресурс, а також Сервіси та Послуги, що надаються Компанією, Відвідувач та/або Користувач висловлює свою згоду з даною Угодою. У разі відмови Відвідувача та/або Користувача від дотримання даної Угоди, він зобов'язаний припинити використання Ресурсу.
				Правила поширюються на будь-які Послуги та сервіси, пропоновані Компанією через домен Rocketwizard.com.ua.
			</li>
			<li>
				Під час користування Користувачем Сервісами Компанія здійснює збір та обробку даних Користувача, а саме: 
				<ol>
					<li>
						даних, що надаються Користувачем як при заповненні реєстраційних форм Сервісів, так і у процесі користування Сервісами;
					</li>
					<li>
						файли cookie;
					</li>
					<li>
						iр-адреси;
					</li>
					<li>
						параметри та налаштування інтернет-браузерів.
					</li>
				</ol>
			</li>
			<li>
				Компанія включає дані Користувача до бази персональних даних інтернет-користувачів з моменту, коли Користувач вперше починає користуватися Сервісом, а також постійно увесь період, протягом якого Користувач користується послугами Сервісів. Строк зберігання даних становить період, протягом якого Користувач користується послугами Сервісів, а також три наступних роки після закриття аккаунту на відповідному Сервісі та закінчення користування Користувачем послугами Сервісів. 
			</li>
			<li>
				Компанія здійснює обробку персональних даних Користувача будь-якими способами з метою належного надання Користувачу послуг (ідентифікація, аутентифікація, авторизація, відновлення паролю, надсилання інформаційних матеріалів за підпискою Користувача, відповідей на запити та листи Користувача, а також для інших дій, що час від часу необхідні для належного надання послуг Сервісів). 
			</li>
			<li>
				Компанія використовує знеособлені дані для таргетингу рекламних та/або інформаційних матеріалів за віком, статтю, іншими даними; для проведення статистичних досліджень; будь-якими іншими способами. 
			</li>
			<li>
				Компанія має право передати персональні дані, базу персональних даних, до якої включені персональні дані Користувача, повністю або частково третім особам без повідомлення про це Користувача у наступних випадках: особам, у ведення, володіння або власність яких передано Сервіс; особам, що є пов’язаними/афілійованими з Компанією; іншим користувачам Сервісів (як фізичним, так і юридичним особам), якщо на Сервісі передбачено відповідний функціонал. 
			</li>
			<li>
				Під час користування Користувачем Сервісами, на інтернет-сторінках Сервісів можуть бути присутні коди інтернет-ресурсів третіх осіб, у результаті чого такі треті особи отримують дані, зазначені у пунктах 3.2, 3.3 та 3.4 даної Угоди. Такими інтернет-ресурсами третіх осіб є: 
				<ol>
					<li>системи зі збору статистики відвідувань Сервісів (наприклад, лічильники bigmir.net, Google Analytics тощо);</li>
					<li>соціальні-плагіни (блоки) соціальних мереж (наприклад, Facebook тощо);</li>
					<li>системи банеропоказів (наприклад, AdRiver тощо);</li>
					<li>інші ресурси.</li>
				</ol>
			</li>
			<li>
				Користувач має усі права щодо захисту його персональних даних, які передбачено чинним законодавством України, зокрема, Законом України «Про захист персональних даних». 
			</li>
			<li>
				Володілець має право змінювати умови даної Угоди в односторонньому порядку. У цьому випадку усі зміни будуть опубліковані за адресою http://rocketwizard.com.ua/home/privacypolicy і будуть обов'язковими для Користувача через 10 днів від дня такої публікації. 
			</li>
		</ol>
	</div>
</div>
