﻿@{
    ViewBag.Title = "Правила сайту";
}

<div class="container of-text">
	<h2>Правила сервісу Rocketwizard.com.ua</h2>
	<div class="well">
		Угода про використання ресурсу Rocketwizard.com.ua(далі по тексту - « Угода»)<br />

1. Терміни, що використовуються в Угоді<br />

Компанія - ФОП « Собчук Павло Олександрович ».<br />
Сайт, Ресурс - інтернет -ресурс Rocketwizard.com.ua<br />
Адміністрація - співробітники Компанії, а також особи, уповноважені належним чином Компанією на управління Ресурсом та надання Послуг Відвідувачам, в рамках використання Сайту останніми.<br />
Сервіси - сукупність програм для ЕОМ, баз даних, що забезпечують функціонування Сайту, а також сукупність Послуг, що надаються Користувачам при використанні Сайту.<br />
Відвідувач - будь-яка фізична особа, старше 16 років, що використовує Ресурс.<br />
Користувач( Замовник або Виконавець )- Відвідувач, що пройшов процедуру реєстрації.<br />
Логін - псевдонім Користувача, обраний ним при реєстрації і використовуваний ним у процесі користування Сайтом. Забороняється реєструвати і використовувати декілька Логінов одним і тим же Відвідувачем.<br />
Пароль - символьна комбінація, що обирається, Користувачем самостійно і забезпечує в сукупності з Логіном його ідентифікацію при використанні Ресурсу.<br />
Виконавець - Користувач, що пройшов процедуру перевірки, відповідно до Розділу 4 Угоди.<br />
Замовник - Користувач, що пройшов процедуру реєстрації. Користувач, або Компанія розмістивши Завдання на Сайті, відповідно до Правил розміщення та виконання завдань.<br />
Завдання - оголошення, розміщене на Сайті Замовником та адресоване зацікавленим Виконавцям.<br />
Приватна інформація - Сервіс дозволяє Замовнику розмістити інформацію, необхідну для виконання робіт/надання послуг відповідно до Завданням, і зробити її доступною тільки Виконавцю, який буде обраний. Приватне поле не може містити інформацію, яка міняє істотні умови пропозиції робити оферти.<br />
Пропозиція - оферта, розміщена виконавцем і адресована Замовнику завдання.<br />
Вибір Виконавця - акцепт Пропозиції Замовником завдання.<br />
Баланс - віртуальний рахунок Користувача на сайті.<br />
Всі дати, які вказуються при використанні Сайту і Сервісів, обліковуються за київським часом.<br />

2. Загальні положення<br />

Ця Угода регулює порядок використання Сайту, а також взаємини, що виникають при використанні Сайту і Сервісів Відвідувачами. Компанія не гарантує доступність Сайту і Сервісів цілодобово. Компанія має право в будь-який момент відмовити будь-якому Відвідувачу, в тому числі Користувачеві, у використанні Сайту і Сервісів при порушенні Угоди:http://rocketwizard.com.ua/home/terms. Компанія надає Відвідувачам, Користувачам приватне невиняткове і непередаване право використовувати Сайт та програмне забезпечення, представлене на сайті, відповідно до цієї Угоди, за умови, що ні Відвідувач/Користувач, ні будь-які інші особи за сприяння Відвідувача/Користувача не будуть вчиняти дій:<br />

    по копіюванню або зміні програмного забезпечення Сайту, Сервісів; по створенню програм, похідних від програмного забезпечення Сайту і Сервісів;<br />
    по проникненню в програмне забезпечення з метою отримання кодів програм;<br />
    щодо здійснення продажу, поступки, здачі в оренду, передачі третім особам в будь-якій іншій формі прав відносно матеріалу Сайту і програмного забезпечення Сайту;<br />
    по модифікуванню Сайту, і Сервісів в тому числі з метою отримання несанкціонованого доступу до нього;<br />
    та інших дій, аналогічних переліченим вище і порушують права Компанії та третіх осіб.<br />

Відвідувач/Користувач несе відповідальність за дотримання прав( матеріальних і нематеріальних )третіх осіб на інформацію, передану( надану )Адміністрації або третім особам при використанні Сайту і Сервісів. Користувачі самостійно оцінюють правомірність використання ними Сайту і Сервісів, в тому числі і з точки зору законодавства країни, резидентами якої вони є.<br />

3. Реєстрація Користувача<br />

Особа, яка бажає стати Замовником/Виконавцем, зобов'язане пройти процедуру реєстрації на відповідній сторінці Ресурсу. При реєстрації Замовнику/Виконавцю присвоюється вибрана ним пара Логін плюс Пароль, яка використовується в подальшому Замовником/Виконавцем при роботі з Сайтом. Не допускається використання псевдоніму:<br />
а )вже використовуваного іншим Замовником/Виконавцем;<br />
б)ображає відвідувачів, Компанію, Адміністрацію, третіх осіб.<br />
Користувач самостійно вибирає собі Пароль, однак Компанія настійно рекомендує використовувати паролі, довжиною не менше 6(шести) символів і включають одночасно маленькі і великі букви, а також цифри. Користувач самостійно несе відповідальність за збереження Паролю в таємниці від третіх осіб. Компанія не несе жодної відповідальності у разі порушення прав Користувача третіми особами, які отримали несанкціонований доступ до пари Логін плюс Пароль Замовника/Виконавця.<br />

4. Перевірка виконавців<br />

Після проходження процедури реєстрації Виконавець може пройти процедуру перевірки, що має на увазі співбесіду з представником Компанії в київському офісі, а також наданні Компанії персональних даних, і їх підтвердження. Для проходження процедури перевірки Виконавцю необхідно мати паспорт. Використання деяких сервісів і послуг Компанії можливо тільки після перевірки. Статус перевіреного Користувача може бути знятий з Користувача в будь-який момент на розсуд Адміністрації без пояснення причин.<br />

5. Права та обов'язки Користувача і Відвідувача<br />

Будь-який Відвідувач Ресурсу має право використовувати всі сервіси, доступ до яких надано йому Компанією в особі Адміністрації:<br />

Користувач додатково має право:<br />
а) створювати Завдання і вибирати Виконавця Завдання;<br />
б) направляти скарги Адміністрації за фактами порушення Користувачами Угоди;<br />
в) використовувати інші сервіси, доступ до яких надано йому Компанією в особі Адміністрації.<br />
Виконавець додатково має право:<br />
а) виконувати Завдання всіх видів;<br />
б) використовувати інші сервіси, доступ до яких надано йому Компанією в особі Адміністрації.<br />

6. Відповідальність Користувачів і Відвідувачів<br />

Відвідувачі самостійно несуть відповідальність за свої дії/бездіяльність при використанні ресурсів і сервісів. Відвідувачі гарантують, що використання ресурсів і сервісів, здійснюватиметься ними таким чином, який не буде порушувати права третіх осіб. Відвідувачі гарантують, що володіють правами на використання матеріалів, що розміщуються ними на сайті. Відвідувачі зобов'язуються дотримуватися цю Угоду. При порушенні Відвідувачами Угоди Адміністрація залишає за собою право тимчасово обмежити доступ Відвідувача до Сайту та сервісу(тимчасовий бан), а в разі грубого та/або неодноразового порушення Угоди відмовити в доступі до Сервісів і Сайту(постійний бан).<br />

7. Правила розміщення та виконання Завдань.<br />

Користувачі можуть розміщувати на сайті Завдання. Компанія стягує комісію за розміщення Завдань. Комісія знімається з виконавця в момент підтвердження замовником виконання Завдання в сервісі.<br />
Завдання являє собою оголошення адресоване Виконавцям, яке дозволяє робити оферти на Сайті. При публікації Завдання Замовник може внести кошти на рахунок Завдання, які складають винагороду потенційного Виконавця Завдання, а також в окремих випадках, компенсацію витрат потенційного Виконавця.<br />
Розміщення Завдання є безкоштовною послугою. Виконавці розміщують свої Пропозиції на опубліковані Завдання.<br />
Замовник здійснює Вибір Виконавця в терміни, визначені у момент створення Завдання. Після Вибору Виконавця Сервіс забезпечує Замовника та Виконавця контактними даними один одного, а саме телефонними номерами, зазначеними Користувачами при реєстрації. Якщо Замовник не здійснює Вибір Виконавця в строки, визначені у момент створення Завдання, Сума Завдання, а також комісія, утримана Компанією, повертається на Гаманець Замовника(тільки для завдань з методом оплати через систему).<br />
З моменту Вибору Виконавця Замовник і Виконавець вважаються уклали між собою договір на надання послуг/виконання робіт.<br />
Зміна умов Завдання Замовником можливе лише до публікації першого Пропозиції. За фактом виконання своїх зобов'язань за укладеним Договором Виконавець за допомогою сервісів Сайту здійснює заявку на переклад йому Суми завдання.<br />
Замовник зобов'язаний підтвердити факт надання послуг/виконання робіт за укладеним Договором, після чого Сума Завдання(якщо вона була попередньо депонована Замовником) перекладається на рахунок Виконавця.<br />

8. Сервіс публічних повідомлень<br />

Користувачеві надається доступ до Сервісу публічних повідомлень(коментарів). Під Сервісом публічних повідомлень мається на увазі можливість розміщення Користувачем на сторінках Сайту повідомлень, які стають доступними для огляду всіма Користувачами, які відвідують відповідну сторінку Сайту. Забороняється розміщення публічних повідомлень:<br />
1. порушують законодавство України, норми міжнародного права;<br />
2. містять рекламну інформацію, спам, схеми «пірамід», «листи щастя»<br />
3. які є незаконними, шкідливими, загрозливими, що ображають моральність, наклепницькими, що порушують авторські права, пропагують ненависть і/або дискримінацію людей за расовою, етнічною, статевою, соціальною ознаками;<br />
4. містять посилання на інтернет сайти, що належать Користувачам або третім особам;<br />
5. своі контактні дані(номер телефону, акаунти соціальних мереж або сервісів миттєвих повідомлень;<br />
6. порушують права третіх осіб;<br />
7. коментують Суму Завдання;<br />
8. що не мають відношення до коментованого Завданню.<br />
Адміністрація має право в будь-який момент видалити публічне повідомлення, як відповідне Угоди, так і порушує Угоду. Користувач, який порушує Угоду, може отримати «бан » на постійній або тимчасовій основі.<br />

9. Баланс<br />

При реєстрації Користувач отримує можливість створити особистий рахунок на Сайті, який може бути використаний ним при створенні Завдань, отриманні винагород за виконані Завдання, а також при використанні платних послуг, що надаються Компанією. Поповнення рахунку на Сайті виробляється способами, доступними на сайті.<br />
Способи доступні для поповнення Рахунки:<br />

    Банківські картки Visa/MasterCard;<br />
    WebMoney;<br />
    Через термінали оплати;<br />
    Через термінали ПриватБанку;<br />
    Приват24.<br />

Адміністрація не несе відповідальності за зміну стану особового рахунку Користувача за рахунок дій третіх осіб. Переказ коштів з особистого рахунку одного Користувача на Рахунок іншого Користувача неможливий. Користувач має можливість вивести кошти, належні йому за виконані Завдання, що знаходяться на його особистому рахунку на Сайті.<br />
Способи доступні для виведення коштів з Рахунку:<br />

    На гаманець WebMoney;<br />
    На номер мобільного телефону через LiqPay;<br />
    На картку ПриватБанку.<br />

Виведення коштів на електронний рахунок здійснюється протягом 2-х робочих днів з дати створення відповідної заявки на виведення коштів Користувачем. Кошти, зараховані на Гаманець Користувачем самостійно, можуть бути виплачені останньому, тільки тим же способом платежу, за допомогою якого здійснювався переклад на адресу Сервісу, з віднесенням всіх витрат у зв'язку з таким поверненням на Користувача. Виведення коштів, що знаходяться в Гаманці, іншими способами не можливий.<br />

10. Суд Сервісу<br />

У разі виникнення спорів між Замовником та Виконавцем з виконання Завдань, вони вирішуються Адміністрацією. Користувачі погоджуються з тим, що Адміністрація має право за результатами розгляду спірної ситуації здійснити будь-які необхідні дії, у тому числі але не обмежуючись, перевести суму Завдання в Гаманець Виконавця або Замовника. Рішення Адміністрації є остаточним і оскарженню не підлягає.<br />

11. Особливі умови<br />

Компанія не гарантує, що програмне забезпечення Сервісів, Сайту не містить помилок або функціонуватиме безперебійно.<br />
Компанія не несе жодної відповідальності за рішення, прийняті Адміністрацією при вирішенні конфліктних ситуацій між Користувачами, в тому числі по винесених вердиктів.<br />
Компанія не несе відповідальності за збитки чи іншу шкоду, що виник у Користувача у зв'язку з діями третіх осіб.<br />
Компанія залишає за собою право видаляти зі своїх серверів будь-яку інформацію або матеріали, які, на думку Компанії, є неприйнятними, небажаними або порушують цю Угоду.<br />
Компанія не контролює інформацію, послуги і продукти, що знаходяться в або пропоновані допомогою мережі Інтернет. Внаслідок цього Користувач приймає умову, відповідно до якого всі товари, інформація і послуги, пропоновані або доступні через Сервіс або в мережі Інтернет(за винятком явно зазначених як надаються безпосередньо Компанією ), надаються третіми сторонами, які ніяк не пов'язані з Компанією. Користувач приймає на себе повну відповідальність і ризики за використання Сервісів та мережі Інтернет. Компанія не надає жодних гарантій на будь-які товари, інформацію та послуги, що поставляються за допомогою сервісу або через мережу Інтернет взагалі. Компанія не нестиме відповідальності за будь-які витрати або збитки, прямо або побічно виникли в результаті подібних поставок. Користувач приймає умову, згідно з яким він приймає на себе відповідальність за оцінку точності, повноти та придатності всіх думок, оцінок, послуг та іншої інформації, якості і функцій товарів, що надаються за допомогою Сервісів або мережі Інтернет взагалі.<br />
Користувач повідомлений і погоджується з тим, що при розміщенні Рішень, кожне Рішення забезпечується логотипом(товарним знаком)Компанії, що обумовлено функціоналом Сервісу.<br />
Компанія, за наявності можливості, забезпечує розміщення Рішень, представлених Користувачами, в ЗМІ, Інтернет -ресурсах третіх осіб, книгах, збірниках, журналах, рекламних матеріалах Компанії.<br />
12. Набуття чинності і порядок зміни цієї Угоди<br />

Угода, Додатки до Угоди та зміни до них вступають чинності з моменту їх опублікування на сторінках сайт http://Rocketwizard.com.ua/home/terms. Зміни в Угоді і Додатках до Угоди можуть бути внесені в будь-який час. Користувач і/або Відвідувач зобов'язується знайомитися з актуальною версією Угоди перед кожним використанням Ресурсу, Сервісів і/або Послуг Компанії. Якщо Користувач і/або Відвідувач прийме рішення не погоджуватися зі зміненим Угодою, то він зобов'язаний відмовитися від використання Сервісу. Користувач, що продовжує користування Ресурсом, Сервісами та/або Послугами Компанії, погоджується зі змінами.<br />

13. Застосовне законодавство<br />

Усі взаємовідносини між Компанією та Відвідувачами підлягають регулюванню виключно законодавством України. При порушенні законодавства України Відвідувач несе повну адміністративну та кримінальну відповідальність.<br />

	</div>
</div>
