﻿@model WorkItWebsite.Models.ChangePasswordModel
@{
	Layout="~/Views/Shared/_ModalDialogLayout.cshtml";
	ViewBag.Title = StringResources.ChangingPassword;
	ViewBag.CloseBtn = StringResources.Close;
	ViewBag.OkBtn = StringResources.SaveChanges;
}
	<div class="form-group cp-dialog">
		<div class="col-md-5">
			<label class="control-label">@StringResources.OldPassword</label>
		</div>
		<div class="col-md-6">
			@Html.PasswordFor(m => m.OldPassword, new { @class="form-control", id = "txtOldPassword" })
			@Html.ValidationMessageFor(m => m.OldPassword)
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-5">
			<label class="control-label">@StringResources.NewPassword</label>
		</div>
		<div class="col-md-6">
			@Html.PasswordFor(m => m.NewPassword, new { @class="form-control", id = "txtNewPassword" })
			@Html.ValidationMessageFor(m => m.NewPassword)
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-5">
			<label class="control-label">@StringResources.RepeatNewPassword</label>
		</div>
		<div class="col-md-6">
			@Html.PasswordFor(m => m.ConfirmPassword, new { @class="form-control", id = "txtConfirmPassword" })
			@Html.ValidationMessageFor(m => m.ConfirmPassword)
		</div>
	</div>
	<div id="resultmsg"></div>
@section scripts {
	<script type="text/javascript">
		$(function () {
			$("#submitData").click();
		})
	</script>
}