﻿@model WorkItWebsite.Models.UserEditViewModel
@{
	Layout="~/Views/Shared/_ModalDialogLayout.cshtml";
	ViewBag.Title = StringResources.ChangingPhoto;
	ViewBag.CloseBtn = StringResources.Close;
	ViewBag.OkBtn = StringResources.SaveChanges;
}


<div class="col-md-8">
<form id="frmRegister" action="/user/changephoto" method="post" enctype="multipart/form-data">
	@Html.EditorFor(m => m.ImageUploadData)
	</form>
</div>
