﻿@model WorkItWebsite.Models.UserEditViewModel
@{
	ViewBag.Title = StringResources.ProfileEditing;
}
<form action="~/user/editprofile" method="post" enctype="multipart/form-data" id="frmEditProfile" class="form-horizontal">
<div class="user-profile container">
	@Html.ActionLink(StringResources.BackToProfile, "profile", "user", new { id = Model.UserId }, new { @class = "lnk" })
	<div class="ucontent-wrapper">
		<div class="ucontent-title">
			<h2 class="profile-header">@StringResources.ProfileEditor</h2>
			@foreach (var item in Model.UserAlerts) {
				<div class="alert-wrapper">
					<div class="alert alert-warning text-center">@item</div>
				</div>
			}
		</div>
		
			<div class="well">
				<div class="row">
					<div class="col-md-2 text-center">
						<img class="profile-img img-rounded" src="@Model.ImgUrl" alt="Фото профілю" />
						<a href="#" id="lnkPhotoEdit">@StringResources.ChangePhoto</a><br />
						<a href="#" id="lnkChangePassword">@StringResources.ChangePassword</a>
					</div>
					<div class="col-md-6">
						<div class="col-md-12">
							<div class="form-group">
								@Html.Label(StringResources.Email, new { @class = "control-label col-md-4" })
								<div id="divTxtEmail" class="col-md-4">
									<label>@Model.Email</label>
								</div>
							</div>
							<div class="form-group">
								@Html.Label(StringResources.FirstName, new { @class = "control-label col-md-4" })
								<div class="required-field col-md-7">
									@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.FirstName)
								</div>
							</div>
							<div class="form-group">
								@Html.Label(StringResources.LastName, new { @class = "control-label col-md-4" })
								<div class="required-field col-md-7">
									@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.LastName)
								</div>
							</div>
							<div class="form-group">
								@Html.Label(StringResources.Gender, new { @class = "control-label col-md-4" })
								<div class="gender-group text-primary col-md-7">
									<div class="radio">
										<label class="radio-inline">
											@Html.RadioButtonFor(m => m.Gender, 1, new { @class = "fradio", @checked = "true" }) @StringResources.Female
										</label>
										<label class="radio-inline">
											@Html.RadioButtonFor(m => m.Gender, 2, new { @class = "mradio" }) @StringResources.Male
										</label>
									</div>
									@Html.ValidationMessageFor(m => m.Gender)
								</div>
							</div>
							<div class="form-group">
								@Html.Label(StringResources.BirthDate, new { @class = "control-label col-md-4" })
								<div class="birthdate-group col-md-7">
									<div class="col-md-3">@Html.DropDownListFor(m => m.BirthDate.BirthDay, Model.BirthDate.Days, new { @class = "form-control ddl-day" })</div>
									<div class="col-md-4">@Html.DropDownListFor(m => m.BirthDate.BirthMonth, Model.BirthDate.Months, new { @class = "form-control ddl-month" })</div>
									<div class="col-md-4">@Html.DropDownListFor(m => m.BirthDate.BirthYear, Model.BirthDate.Years, new { @class = "form-control ddl-year" })</div>
								</div>
							</div>
							<div class="form-group">
								@Html.Label(StringResources.PhoneNumber + " 1", new { @class = "control-label col-md-4" })
								<div class="col-md-7">
									@Html.TextBoxFor(m => m.Phone, new { @class = "form-control", id = "txtPhone1", placeholder = "(050) 111 11 11" })
								</div>
							</div>
							<div class="form-group">
								@Html.Label(StringResources.PhoneNumber + " 2", new { @class = "control-label col-md-4" })
								<div class="col-md-7">
									@Html.TextBoxFor(m => m.Phone, new { @class = "form-control", id = "txtPhone2", placeholder = "(050) 111 11 11" })
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="extra-desc">
							<label class="control-label">@StringResources.AboutMe</label>
							<div class="form-group">
								@Html.TextAreaFor(m => m.UserInfo.ExtraDescription, new { @class = "form-control", rows = 11 })
							</div>
						</div>
					</div>
				</div>
				<div class="user-extra">
					<h4>@StringResources.AdditionalInformation</h4>
					<div class="row">
						<div class="user-address col-md-6">
							<label class="uicon i-address">@StringResources.Address</label>
							<div class="row">
								<div class="col-md-4">
									@StringResources.CityLiving:
								</div>
								<div class="col-md-6">
									@Html.TextBoxFor(m => m.UserInfo.City, new { @class = "form-control" })
								</div>
							</div>
						</div>
						<div class="user-langs col-md-6">
							<label class="uicon i-langs">@StringResources.Languages:</label>
							<div class="row">
								<div class="col-md-4">
									@StringResources.LanguagesYouKnow:
								</div>
								<div class="col-md-6">
									@Html.TextBoxFor(m => m.UserInfo.Languages, new { @class = "form-control" })
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="user-edu col-md-6">
							<label class="uicon i-edu">@StringResources.Education:</label>
							<div class="row">
								<div class="col-md-4">@StringResources.Level:</div>
								<div class="col-md-6">
									@Html.DropDownListFor(m => m.UserInfo.EducationType, Model.EducationOptions, new { @class = "form-control" })
								</div>
								<div class="col-md-4">@StringResources.EducationEstatement:</div>
								<div class="col-md-6">
									@Html.TextBoxFor(m => m.UserInfo.EducationInstitute, new { @class = "form-control" })
								</div>
								<div class="col-md-4">@StringResources.Specialty:</div>
								<div class="col-md-6">
									@Html.TextBoxFor(m => m.UserInfo.Specialty, new { @class = "form-control" })
								</div>
							</div>
						</div>
						<div class="user-work col-md-6">
							<span class="uicon i-work">@StringResources.Job:</span>
							<div class="row">
								<div class="col-md-4">
									<div class="checkbox">
										<label>
											@Html.CheckBoxFor(m => m.UserInfo.IsEmployed, new { id="chkEmployed" })
											@StringResources.HeEmployed
										</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">@StringResources.CompanyName:</div>
								<div class="col-md-6">
									@Html.TextBoxFor(m => m.UserInfo.CompanyName, new { @class = "form-control", id="txtCompany" })
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">@StringResources.Position:</div>
								<div class="col-md-6">
									@Html.TextBoxFor(m => m.UserInfo.Position, new { @class = "form-control", id="txtPosition", autocomplete = "off" })
								</div>
							</div>
						</div>
					</div>
					<div class="user-car">
						<label class="uicon i-car">@StringResources.Vehicle:</label>
						<div class="checkbox">
							<label>
								@Html.CheckBoxFor(m => m.UserInfo.HasCar)
								@StringResources.SetIfHaveVehicle
							</label>
						</div>
					</div>
				</div>
				<div class="col-md-12 ep-save">
					<button type="submit" class="btn btn-success btn-block">@StringResources.ChangePersonalData</button>
				</div>
			</div>

	</div>
</div>
<div id="cpModalWrapper">
	@Html.Partial("_ChangePassword", new WorkItWebsite.Models.ChangePasswordModel())
</div>
</form>
<div id="ciModalWrapper">
	@Html.Partial("_EditPhoto", Model)
</div>
@section scripts {
	@Scripts.Render("~/bundles/jqueryval", "~/bundles/editprofile")
	<script>
		$(function () { ep.init(); });
	</script>
}
