﻿@model WorkItWebsite.Models.ProfileViewModel
@{
	ViewBag.Title = StringResources.ProfileAccount;
}
<link rel="stylesheet" href="~/ThirdParty/datetimepicker/datepicker.css" />
<div class="user-profile container">
	<div>
		<div class="ucontent-wrapper">
			<div class="ucontent-title">
				<h2 class="profile-header">@StringResources.Profile</h2>
				@if (Model.UserVM.IsProfileOwner) {
		foreach (var item in Model.UserAlerts) {
					<div class="alert-wrapper">
						<div class="alert alert-warning text-center">@item</div>
					</div>
		}
	}
			</div>
			<div class="row" style="margin-left: 0px;">
				<div class="ucontent-body well col-md-9">
					<div class="col-md-3">
						<img class="profile-img img-rounded" src="@Model.UserVM.ImgUrl" alt="Фото профілю" />
					</div>
					<div class="user-data col-md-9">
						<div class="col-md-8">
							<h3>@Model.UserVM.UserName</h3>
							<div class="user-general">
								<div>@StringResources.Age: @Model.UserVM.Age</div>
								<div>@StringResources.DateOfBirth: @Model.UserVM.BirthDate</div>
							</div>
							<div class="response-rate">
								<label>@StringResources.ResponsesAndTasks</label><br />
								<span class="gresponse">@Model.UserVM.ResponseStats.GoodCount</span>
								<span class="nresponse">@Model.UserVM.ResponseStats.NeutralCount</span>
								<span class="bresponse">@Model.UserVM.ResponseStats.BadCount</span>
							</div>
							<div class="totals">
								<div class="response-total">@StringResources.TotalResponses: @Model.UserVM.ResponseStats.TotalCount</div>
								<div class="otasks-total">@StringResources.CreatedTasks: @Model.UserVM.OwnerTaskCount</div>
								<div class="ptasks-total">@StringResources.CompletedTasks: @Model.UserVM.PerformerTaskCount</div>
							</div>
						</div>
						<div class="col-md-4">
							@if (Model.UserVM.IsProfileOwner) {
								<div class="profile-nav">
									<ul class="font-small">
										<li>@Html.ActionLink(StringResources.EditProfile, "editprofile", "user")</li>
										<li>@Html.ActionLink(StringResources.CreateTask, "createtask", "task")</li>
										<li>
											<form action="/user/deleteprofile" id="frmDeleteProfile" method="post">
												<a href="#" id="lnkProfileDelete" class="">@StringResources.DeleteProfile</a>
											</form>
										</li>
									</ul>
								</div>
		  }
						</div>
					</div>
				</div>
				@if (Model.UserVM.IsProfileOwner) {
					<div class="user-balance col-md-3 col-md-offset-1 well text-center">
						<h4>@StringResources.CurrentBalance</h4>
						<span>@Model.UserVM.UserInfo.PaymentBalance</span> грн.
						<div class="profile-nav font-small">
						<ul>
							<li>@Html.ActionLink(StringResources.OperationHistory, "history", "payment")</li>
							<li>@Html.ActionLink(StringResources.RenewBalance, "checkin", "payment")</li>
							<li>@Html.ActionLink(StringResources.GetMoneyFromBalance, "checkout", "payment")</li>
						</ul>
					</div>
</div>
	}
			</div>
			<div class="user-extra well" style="margin-top: 20px; max-width: 750px;">
				<div class="user-extra">
					<h4>@StringResources.AdditionalInformation</h4>
					<div>
						<div class="user-address">
							<label class="uicon i-address">@StringResources.Address</label>
						</div>
					</div>
					<div class="extra-data">
						@Model.UserVM.UserInfo.City
					</div>
					<div>
						<div class="user-langs">
							<label class="uicon i-langs">@StringResources.Languages:</label>
						</div>
					</div>
					<div class="extra-data">
						@Model.UserVM.UserInfo.Languages
					</div>
					<div>
						<div class="user-edu">
							<label class="uicon i-edu">@StringResources.Education:</label>
							<div>
								<div class="extra-data">
									@StringResources.Level: @Model.UserVM.UserInfo.EducationType
								</div>
								<div class="extra-data">
									@StringResources.EducationEstatement: @Model.UserVM.UserInfo.EducationInstitute
								</div>
								<div class="extra-data">
									@StringResources.Specialty: @Model.UserVM.UserInfo.Specialty
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="user-work">
							<label class="uicon i-work">@StringResources.Work:</label>
							@if (Model.UserVM.UserInfo.IsEmployed) {
								<div class="extra-data">
									@if (Model.UserVM.Gender == 1) {
										<text>
										@StringResources.SheEmployed
								</text>
		 } else {
										<text>
										@StringResources.HeEmployed
								</text>
		 }
								</div>
								<div class="extra-data">
									@StringResources.CompanyName: @Model.UserVM.UserInfo.CompanyName
								</div>
								<div class="extra-data">
									@StringResources.Position: @Model.UserVM.UserInfo.Position
								</div>
	   } else {
								<div class="extra-data">
									@StringResources.NoJob
								</div>
	   }
						</div>
					</div>
					<div>
						<div class="user-car">
							<label class="uicon i-car">@StringResources.Vehicle:</label>
							<div class="extra-data">
								@if (Model.UserVM.UserInfo.HasCar) {
									<text>
									@StringResources.HasCar
										</text>
		} else {
									<text>
									@StringResources.NoCar
										</text>
		}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="well ucontent-about">
				<h4>@StringResources.AboutMe</h4>
				<pre>
						@if (Model.UserVM.IsProfileOwner) {
							@Model.UserVM.Description
	  } else {
<text>@StringResources.NoDescription</text>
	  }
						</pre>
			</div>
			<div class="ucontent-tabs">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#response" data-toggle="tab">@StringResources.Responses</a></li>

					@if (Model.UserVM.IsProfileOwner) {
						<li><a id="performertask" href="#performertasks" data-toggle="tab">@StringResources.TasksForMe</a></li>
						<li><a id="ownertask" href="#ownertasks" data-toggle="tab">@StringResources.MyTasks</a></li>
						<li><a id="notification" href="#notifications" data-toggle="tab">@StringResources.NotificationSettings</a></li>
	 } else {
						<li><a id="performertask" href="#performertasks" data-toggle="tab">@StringResources.DoneTasks</a></li>
	 }
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active fade in" id="response">
						@if (Model.UserVM.ResponseStats.TotalCount > 0) {
							<div class="spinner-wrapper"></div>
							<div class="uresponses-wrapper" data-bind="foreach: responses">
								<div class="response-wrapper">
									<div class="response-title row">
										<div class="col-md-5">
											<img class="img50 img-circle" data-bind="attr: { src: profileImage }" alt="Фото профілю" />
											<a data-bind="attr: { href: profileUrl }, text: displayName "></a>
										</div>
										<div class="response-date" data-bind="text: createdDate "></div>
									</div>
									<div class="response-content  well well-sm" data-bind="text: responseContent, css: responseType"></div>
								</div>
							</div>
							<div class="well well-sm">
								<div id="response-pager"></div>
							</div>
	  } else {
							<h3 class="text-muted text-center">@StringResources.NoResponses</h3>
	  }
					</div>
					<div class="tab-pane fade in" id="ownertasks">
						@if (Model.UserVM.OwnerTaskCount > 0) {
							@Html.Partial("_TaskFilter")
							<div class="spinner-wrapper"></div>
							<div class="otasks-wrapper">
								<div class="utasks-wrapper" data-bind="foreach: otasks">
									<div class="task-wrapper well">
										<div class="task-title row">
											<div class="col-md-10">
												<label class="title"><a data-bind="text: Name, attr: { href: TaskUrl }"></a></label>
											</div>
											<div class="col-md-2">
												<span class="label" data-bind="css: $root.taskStatus($data), text: StatusText "></span>
											</div>
										</div>
										<div class="row">
											<div class="col-md-5">
												<label>
													<span class="task-price" data-bind="text: Price"></span>
												</label>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 font-small">
												@StringResources.Created: <span class="task-date" data-bind="text: Created"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="well well-sm">
								<div id="otask-pager"></div>
							</div>
	  } else {
							<h3 class="text-muted text-center">@StringResources.NoTasksCreatedYet...</h3>
	  }
					</div>
					<div class="tab-pane fade in" id="performertasks">
						@if (Model.UserVM.PerformerTaskCount > 0) {
							@Html.Partial("_TaskFilter")
							<div class="spinner-wrapper"></div>
							<div class="ptasks-wrapper">
								<div class="utasks-wrapper" data-bind="foreach: ptasks">
									<div class="task-wrapper well">
										<div class="task-title row">
											<div class="col-md-10">
												<label class="title"><a data-bind="text: Name, attr: { href: TaskUrl }"></a></label>
											</div>
											<div class="col-md-2">
												<span class="label" data-bind="css: $root.taskStatus($data), text: StatusText "></span>
											</div>
										</div>
										<div class="row">
											<div class="col-md-5">
												<label>
													<span class="task-price" data-bind="text: Price"></span>
												</label>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 font-small">
												@StringResources.Created: <span class="task-date" data-bind="text: Created"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="well well-sm">
								<div id="ptask-pager"></div>
							</div>
	  } else {
							<h3 class="text-muted text-center">@StringResources.NoTasksCompleted</h3>
	  }
					</div>
					<div class="tab-pane fade in" id="notifications">
						<label>@StringResources.SendFollowingMessages:</label>
						<div class="notify-wrapper">
							<div class="row">
								<div class="col-md-8">
									<div class="checkbox">
										<label>
											@Html.CheckBoxFor(m => m.NotificationVM.NotifyNews, new { id = "chkNews" })
											@StringResources.NotifyLastNews
										</label>
									</div>
									<div class="checkbox">
										<label>
											@Html.CheckBoxFor(m => m.NotificationVM.NotifyTaskAssigned, new { id = "chkAssigned" })
											@StringResources.NotifyTasksAssigned
										</label>
									</div>
									<div class="checkbox">
										<label>
											@Html.CheckBoxFor(m => m.NotificationVM.NotifyTaskFinished, new { id = "chkFinished" })
											@StringResources.NotifyTasksFinished
										</label>
									</div>
									<div class="checkbox">
										<label>
											@Html.CheckBoxFor(m => m.NotificationVM.NotifyTaskAccepted, new { id = "chkAccepted" })
											@StringResources.NotifyTasksAccepted
										</label>
									</div>
								</div>
							</div>
							<div class="notify-buttons">
								<a href="#" class="notify-edit font-small">@StringResources.Edit</a>
								<button type="button" id="btnSaveNotify" class="btn btn-success btn-sm">@StringResources.SaveChanges</button>
								<button type="button" id="btnCancelNotify" class="btn btn-default btn-sm">@StringResources.Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
@section scripts {
	<script type="text/javascript">
		var profile_get_tasks = '@Url.Action("getusertasks", "user")';
		var profile_get_responses = '@Url.Action("getuserresponses", "user")';
	</script>
	@Scripts.Render("~/bundles/profile")
	<script type="text/javascript" src="~/ThirdParty/datetimepicker/datepicker.js"></script>
	<script type="text/javascript">
		$(function () {
			
			up.responsesCount = @Model.UserVM.ResponseStats.TotalCount;
			up.ownerTaskCount = @Model.UserVM.OwnerTaskCount;
			up.performerTaskCount = @Model.UserVM.PerformerTaskCount;

			up.init(@Model.UserVM.UserId);
		});
	</script>
}
