﻿@{
	ViewBag.Title = StringResources.MoneyBalanceRenewal;
}

<div class="container">
	<h2>@StringResources.AccountBalanceRenewal</h2>
	<div class="well row">
		<div class="col-md-4">
			<label>@StringResources.SetYourSumInHryvnas</label>
			<div class="form-group" style="width: 200px;">
				<input type="text" id="txtAmount" class="form-control" />
			</div>
			<button type="button" class="btn btn-success" id="btnGo">@StringResources.RenewBalance</button>
		</div>
		<div class="col-md-8">
			<h4>@StringResources.AdditionalInformation</h4>
			<div class="checkin-content">
				@StringResources.AdditionalInformationPayment
				<p class="text-danger">
					@StringResources.AdditionalInformationDangerPayment
				</p>
			</div>
		</div>
	</div>
</div>

<form action="https://www.liqpay.com/?do=clickNbuy" method="POST" id="frmLiqpay">
	@Html.Hidden("operation_xml", "", new { id = "operation_xml" })
	@Html.Hidden("signature", "", new { id = "signature" })
</form>

<script type="text/javascript">
	$(function () {
		$("#btnGo").on('click', function () {
			cm.AjaxRequest("/payment/loadoperation", {
				type: "POST",
				data: { amount: $("#txtAmount").val() },
				success: function (result) {
					if (result.status == "ok") {
						$("#operation_xml").val(result.operation);
						$("#signature").val(result.signature);
						$("#frmLiqpay").submit();
					}
				}
			});
		});
	})
</script>