﻿@{
	ViewBag.Title = StringResources.PaymentOperationSuccess;
}

<div class="container">
	<h2>@StringResources.PaymentOperationSuccess</h2>
	<div class="well">
		<p>@StringResources.YourPaymentRenewed</p>
		@Html.ActionLink(StringResources.BackToProfile, "profile", "user", new { id = ViewBag.UserId }, null)
	</div>
</div>
