﻿@model List<Workit.DataModel.PaymentHistory>
@{
	ViewBag.Title = StringResources.PaymentAccountHistory;
}

<div class="container">
	@Html.ActionLink(StringResources.BackToProfile, "profile", "user", new { id = ViewBag.UserId }, new { @class = "lnk" })
	<h2>@StringResources.PaymentAccountHistory/h2>
	<div class="well">
		@if(Model.Count > 0) {
		<table class="table table-striped">
			<tr>
				<th>@StringResources.TransactionId</th>
				<th>@StringResources.Date</th>
				<th>@StringResources.SumHryvna</th>
				<th>@StringResources.Description</th>
			</tr>
			@foreach(var item in Model) {
				<tr>
					<td>@item.TransactionId</td>
					<td>@item.Created.ToString()</td>
					<td>@item.Amount</td>
					<td>@item.Description</td>
				</tr>
			}
		</table>
		} else {
			<div>@StringResources.NoPaymentHistory</div>
		}
	</div>
</div>
